[2015-07-07 04:06] fkautz opened #1 "Parse dates within XML, return datetime objects"

[2015-07-07 06:23] harshavardhana opened #2 "Add all amazon regions to be supported"
https://github.com/minio/minio-dotnet/blob/master/Minio.Client/V4Authenticator.cs#L206

[2015-07-07 06:25] harshavardhana opened #3 "Add setUserAgent in accordance with other libraries"
https://github.com/minio/minio-dotnet/blob/master/Minio.Client/ObjectStorageClient.cs#L43

[2015-07-07 06:35] harshavardhana opened #4 "Verify if ETag needs stripping of "&nbsp" characters"
https://github.com/minio/minio-dotnet/blob/master/Minio.Client/ObjectStorageClient.cs#L414 - would fail unless .Net magically strips them off during ValueToString()

[2015-07-07 06:49] harshavardhana opened #5 "For unauthenticated requests with listBuckets() - S3 sends a http.StatusTemporaryRedirect"
https://github.com/minio/minio-dotnet/blob/master/Minio.Client/ObjectStorageClient.cs#L263

Handle the case where un-authenticated requests haveTemporaryRedirect with no parseable error respone, unless ParseError already handles non xml response bodies internally.

[2015-07-07 06:53] harshavardhana opened #6 "Add missing max-uploads query parameter GetMultipartUploadsList()"
https://github.com/minio/minio-dotnet/blob/master/Minio.Client/ObjectStorageClient.cs#L748

[2015-07-07 06:55] harshavardhana opened #7 "Add missing max-parts and part-number​-marker from GetListParts()"
https://github.com/minio/minio-dotnet/blob/master/Minio.Client/ObjectStorageClient.cs#L541

Without part-number-marker we won't be able to list beyond 1000 entries

[2015-07-10 04:10] fkautz opened #8 "Ignore the following headers:"
Authorization
Content-Type
Content-Length
User-Agent

[2015-07-10 18:20] harshavardhana commented on #8
https://github.com/minio/minio-go/pull/109 - add comments from this commit for ignored headers for more information for developers in future

[2015-07-10 21:39] #8 closed

[2015-07-14 21:44] fkautz opened #9 "SetBucketAcl does not return error on failure"
Each of these fails due to expected exception not being thrown.

[code]

[2015-07-14 21:57] fkautz opened #10 "Non multipart put succeeds when actual size is smaller than expected size"
[code]

[2015-07-14 23:07] fkautz opened #11 "PUT without multipart does not urlencode path"
[code]

[2015-07-14 23:07] fkautz commented on #11
Results in a file named `small/ob`

[2015-07-14 23:40] fkautz opened #12 "Create and return more tightly defined exceptions"
For example, instead of returning RequestException, return BucketNotFoundException : RequestException.

[2015-07-15 00:05] #1 closed

[2015-07-15 00:21] #2 closed

[2015-07-15 00:40] #3 closed

[2015-07-15 00:57] #4 closed

[2015-07-15 00:58] fkautz commented on #5
ListBuckets is a special case, we'll handle 307 as an auth failure.

[2015-07-15 03:15] #5 closed

[2015-07-15 03:15] #9 closed

[2015-07-15 03:15] #12 closed

[2015-07-15 03:33] #10 closed

[2015-07-15 04:04] #11 closed

[2015-07-15 04:22] fkautz opened #13 "content type not preserved in multipart put"

[2015-07-15 04:23] fkautz opened #14 "StatObject does not show content type"

[2015-07-15 05:38] #6 closed

[2015-07-15 05:38] #7 closed

[2015-07-15 19:02] #13 closed

[2015-07-15 19:02] #14 closed

[2015-07-22 18:45] harshavardhana opened #15 "Fix missing App.config from repository"
Without App.config mono build fails

[code]

[2015-07-22 18:47] harshavardhana opened #16 "Fix CS0168 and CS0219 warnings"
[code]

[2015-07-22 18:49] harshavardhana opened #17 "Fix files not found errors"
[code]

[2015-07-22 18:50] #15 closed

[2015-07-22 18:50] #16 closed

[2015-07-22 18:51] harshavardhana opened #18 "Fix hardcoded user-agent"
[code]

[2015-07-22 18:53] #17 closed

[2015-07-22 23:50] #18 closed

[2015-09-17 21:07] harshavardhana opened #40 "Review test cases and finish all the remaining tests"

[2015-09-24 05:27] harshavardhana opened #41 "Parallelize multipart upload to 4 concurrent threads, just like minio-go library."

[2015-09-25 23:30] harshavardhana opened #42 "Implement support for storing x-amz-meta-* information"

[2015-10-21 00:24] harshavardhana opened #43 "Support HTTP2 across all libraries.. for all servers supporting HTTP2"

[2015-10-26 07:58] harshavardhana opened #48 "Review all examples and test them for their validity."

[2015-11-13 06:49] harshavardhana opened #53 "Implement postpolicy content-length"

[2015-11-13 06:52] harshavardhana opened #54 "Implement support for virtual hosted style for buckets"

[2015-11-13 20:04] #48 closed

[2015-11-24 01:51] harshavardhana commented on #54
Remove #future label on this - we need to get this completed across all libraries.

[2015-11-24 01:51] harshavardhana commented on #53
Remove #future label on this - we need to get this completed across all libraries.

[2015-11-25 14:27] philxia opened #56 "always get a bad request exception when run the sample test."
I setup the minio server and client at 2 windows machines separately, start the minio server at machine-A, and try the mc.exe in another machine-B to connect it with the credential, it works as expected, like list bucket, and upload file. I tried the .net sample test to list bucket or checking if the bucket exist, always got a bad request exception. I checked the console output of minio server and

[2015-11-25 18:29] harshavardhana commented on #56
Recently minio server moved its region from default 'milkyway' to 'us-east-1' .  Looks like you are using published dotnet package?  I haven't published new changes yet which were done to this repo recently.

Can you clone this repo and try again? https://github.com/minio/minio-dotnet#on-linux

[2015-11-25 19:04] harshavardhana opened #57 "Figure out what these warning messages are."
[code]

[2015-11-25 19:14] #57 closed

[2015-11-26 01:41] harshavardhana commented on #56
I have published an updated nuget package.  Can you update and try again?

[2015-11-26 03:06] philxia commented on #56
Thanks for replying. I tried both this repo (sync to head) and nuget pckage (Successfully installed 'Minio 0.2.1' to Test), but still get the same error.

[2015-11-26 04:28] harshavardhana commented on #56
@philxia  - here is the snippet of the code that i tried with both master and nuget package with server https://github.com/minio/minio

[code]

[code]

[2015-11-26 04:30] harshavardhana commented on #56
Which version of server are you using?

[2015-11-26 05:56] philxia commented on #56
Minio server version is "2015-11-14T09:02:54Z", and I stepped into the code and get the error message as below. Any clue?

<Error><Code>AuthorizationHeaderMalformed</Code><Message>The authorization header is malformed; the region is wrong; expecting &#39;milkyway&#39;.</Message><Resource>/</Resource><RequestId>3L137</RequestId><HostId>3L137</HostId></Error>

[2015-11-26 07:26] harshavardhana commented on #56
Now i know what the issue is, we recently changed server to use "us-east-1" instead of "milkyway" so the current version of the library is incompatible with the released binaries.

You should use '0.2.0' version which should work properly. Here is how i tested locally.

[code]

Let me know if you see the same issue.

[2015-11-26 08:15] krishnasrinivas opened #60 "convert minio-dotnet to a stateless library"
Convert the APIs to follow this style:
[code]

[2015-11-26 09:27] philxia commented on #56
Awesome! Works like a charm. Thank you very much.

[2015-11-26 09:27] #56 closed

[2015-11-28 04:17] harshavardhana commented on #60
Object oriented libraries do not allow for functions to exist in a cleaner way, so this approach is not possible - while we will do some changes to existing API.

its not necessary for .Net library to behave this way.

[2015-11-28 04:17] #60 closed

[2015-11-28 04:20] harshavardhana commented on #54
What we will do to resolve the issue is "https://s3.amazonaws.com" is that we always take only hostname as input. i.e not virtualized but we will construct a virtualized request underneath if known regions are found for a given bucket name.

Internally as an optimization we keep a global cache of hostname, buckets and regions

[2015-11-28 04:21] harshavardhana commented on #54
That way subsequent calls can fetch the values first by looking into this global cache. If not make a request.

[2015-11-30 07:32] harshavardhana opened #63 "make_bucket - needs to have location argument"

[2015-11-30 07:33] harshavardhana opened #64 "Resumable downloads need to be provided for minio dotnet"

[2015-11-30 07:33] harshavardhana opened #65 "Rename set_user_agent as set_app_info"

[2015-11-30 07:34] harshavardhana opened #66 "Disallow any other endpoint other than https://s3.amazonaws.com"

[2015-11-30 07:34] harshavardhana opened #67 "putObject should have content length as last argument"

[2015-11-30 07:34] harshavardhana opened #68 "putObject with length '-1' should do 5GB multipart upload"

[2015-11-30 07:35] harshavardhana opened #69 "Do not buffer use temporary files for individual parts before uploading"

[2015-11-30 07:35] harshavardhana opened #70 "Error handling is badly written - rewrite it."

[2015-12-01 03:16] harshavardhana opened #71 "All arguments for all functions should have native types"
For example in Golang in PresignedGetObject

[code]

Expires argument is time.Duration which is a native type under Golang ecosystem, we should make sure that wherever possible we should take native types.

[2015-12-10 16:38] #65 closed

[2015-12-11 03:05] harshavardhana opened #73 "Verify multipart uploads with concatenated md5sum at the end which server sends back."
Concatenation happens on the hexadecimally encoded md5's of individual parts on the server side during completemultipart upload.

Verify them and throw appropriate error.

[2015-12-15 07:23] #67 closed

[2015-12-16 23:18] GarimaKapoor commented on #73
This is not necessary anymore.

[2015-12-16 23:18] #73 closed

[2015-12-17 00:24] GarimaKapoor commented on #41
Not needed anymore.

[2015-12-17 00:24] #41 closed

[2015-12-21 05:29] #63 closed

[2015-12-21 05:29] #66 closed

[2015-12-24 20:26] #68 closed

[2015-12-24 20:26] #69 closed

[2015-12-28 08:24] krishnasrinivas opened #79 "Implement http request tracing"
implement apis:
TraceOn(traceFilePath)
TraceOff()
This should trace the HTTP calls made similar to mc --debug and also should trace any useful information - like if the region is getting used from cache, region map invalidation, if during resume of putObject/fPutObject it should log if it is continuing from where it left off or reuploading etc.
In the functional tests tracing should be 'on'. We sh

[2016-01-04 12:04] krishnasrinivas opened #80 "api: Trace should dump http request xml"
trace output should dump xml body if available when s3 returns error.

[2016-01-04 19:45] harshavardhana opened #81 "Limit the amount of readable data from response body, honor content-length in response headers."

[2016-01-08 05:32] harshavardhana commented on #81
Looks like Content-Length is not set for all the S3 call replies, there is no easier and effective way to verify server sending malicious data right now, since S3 itself doesn't set Content-Length.

The reason is also i think they don't set Content-Length is since server is sending data with Transfer-Encoding set to 'chunked' . Because of this reason they do not have to. Since they guarantee that

[2016-01-08 20:20] #81 closed

[2016-01-15 00:09] harshavardhana opened #82 "Set Expect header 100-continue for put requests"
[code]

[2016-01-15 00:09] #64 closed

[2016-01-15 00:10] #42 closed

[2016-01-15 00:26] harshavardhana commented on #82
8.2.3 Use of the 100 (Continue) Status

The purpose of the 100 (Continue) status (see section 10.1.1) is to allow a client that is sending a request message with a request body to determine if the origin server is willing to accept the request (based on the request headers) before the client sends the request body. In some cases, it might either be inappropriate or highly inefficient for the clien

[2016-01-17 00:15] harshavardhana commented on #82
To keep note of while implementing this feature - https://tools.ietf.org/html/rfc7231#page-35

[code]

[2016-01-21 22:38] harshavardhana opened #83 "Support bucket names to have periods and construct endpoints based on region for s3."

[2016-03-17 11:02] koolhead17 opened #84 "No ACL related examples"
minio-dotnet client library does not provide any example related to ACL [access control list]

[2016-03-22 15:18] koolhead17 opened #85 "Unexpected output while running "ListBuckets""
I have installed  minio-dotnet client library & provided it AWS and Play server credentials. I got following error.

[code]

[2016-03-22 15:33] koolhead17 opened #86 "unexpected "GetObject " behavior with play server"
I am running GetObject example from minio-dotnet client library & getting these issues. Both bucket and object exists on play server

[code]
Configuration file:

[code]

[code]

[2016-05-04 05:03] #85 closed

[2016-05-04 06:01] krisis opened #88 "Make Minio.Tests run on VisualStudio"

[2016-05-04 06:17] #88 closed

[2016-05-04 08:40] #86 closed

[2016-05-10 12:28] krisis opened #93 "MakeBucket.cs example throws SystemTypeInitializationException"
`Inner Exception: {"Invalid acl value."}`

[2016-05-14 08:41] harshavardhana opened #94 "api: Implement GetBucketPolicy, RemoveBucketPolicy and SetBucketPolicy."
For reference implementation and tests look at github.com/minio/minio-go

[2016-05-14 09:38] harshavardhana opened #96 "Evaluate appveyor CI build for dotnet using MSbuild."

[2016-05-14 09:38] harshavardhana commented on #84
Deprecated.. closing

[2016-05-14 09:38] #84 closed

[2016-05-14 09:42] harshavardhana commented on #93
Acl is being removed, validate this again after #95

[2016-06-02 20:38] joeblew99 opened #98 "has anyone tried this on the Dotnet docker image yet ?"
this is now at a point where it makes sense i think..

[2016-06-06 17:34] krishnasrinivas opened #99 "multipart: complete multipart upload should process white space characters after 200 OK"
http://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadComplete.html

`Processing of a Complete Multipart Upload request could take several minutes to complete. After Amazon S3 begins processing the request, it sends an HTTP response header that specifies a 200 OK response. While processing is in progress, Amazon S3 periodically sends whitespace characters to keep the connection from timing out. B

[2016-06-11 16:52] harshavardhana commented on #98
@joeblew99 we haven't tried this on docker yet, - this library is a work in progress for the time being. Is there anything specific you think that needs to be done for this library to work on docker?

[2016-06-11 17:04] joeblew99 commented on #98
Don't know - never tried it, and won't bother unless it's more than a sip, or at least is getting a CI where its tested.

[2016-06-11 17:05] joeblew99 commented on #98
Don't know - never tried it, and won't bother unless it's more than a sip, or at least is getting a CI where its tested.

[2016-06-11 17:05] joeblew99 commented on #98
Will leave it open as other might spot this who are using it

[2016-06-23 11:35] harshavardhana opened #100 "api: Implement support for ListObjectsV2. supporting new S3 list version 2 type."

[2016-07-01 05:16] krishnasrinivas opened #101 "Disable sha256 computation for https"

[2016-07-19 11:10] garilla opened #102 "PresignedGetObject generates invalid signature"
Hello!
I think I found a critical bug or I completly misunderstand smth. My code is like this:
var client = new MinioClient(_urlWithRegion, _awsAccessKey, _awsSecretKey);
var itemUrl = client.PresignedGetObject(bucketName, "c07adf03ee5a4c11865e7272477b061c.jpg", 3600*24);

I recieve the url, but when I try to get the object I get this:
[code]
I tried to get the url with minio console client and it

[2016-07-19 21:12] krisis commented on #102
@garilla Yes, this is an issue. Thanks for reporting.

[2016-07-19 21:20] krisis commented on #102
@garilla Would you be interested in sending a PR to fix this? If so, I could assign this issue to you.

[2016-07-22 14:32] garilla commented on #102
@krisis I'm still not sure if I would use minio in my project. I will try to fix that bug in case I decide to use it.

[2016-07-22 18:51] harshavardhana commented on #102
We will fixing this, sorry for the delay @garilla

[2016-07-24 01:45] harshavardhana commented on #102
Looks like @garilla PresignedGetObject is working fine with s3. Checking with minio server.

[code]

[2016-07-24 01:51] krisis opened #103 "Update README with steps to run examples on Linux"

[2016-07-24 08:38] harshavardhana opened #105 "master fails with MSBuild.exe"
[code]

[code]

[2016-07-24 08:40] harshavardhana opened #106 "latest nunit fails with master"
[code]

[2016-07-24 08:42] harshavardhana commented on #102
@garilla we have a fix for the issue at #104 - can you validate this on your end? - Thanks.

[2016-07-26 23:34] #102 closed

[2016-07-27 20:10] flaviocarmo commented on #102
If you are using the endpoint of S3 "https://s3.amazonasw.com", it crashes, because port 443 > 0.

[2016-07-27 20:36] koolhead17 commented on #103
@krisis https://github.com/minio/minio-dotnet/blob/master/README.md has steps to Run on Linux (Ubuntu), anything missing you found?

[2016-07-27 21:05] harshavardhana commented on #102
Oops @flaviocarmo let us fix it.. thanks for reporting

[2016-07-28 20:18] harshavardhana opened #108 "api: Implement SetBucketNotification, GetBucketNotification, DeleteBucketNotification"

[2016-09-05 13:38] hackintoshrao opened #109 "Make dependency easier."
As reported by @Vidarls on the channel,

Please validate this.

[2016-09-05 14:49] vadmeste commented on #103
I followed the steps in the README and I found this error:
[code]

I am using Ubuntu 16.04 64bits. But not sure if I did something before that triggered this error.

[2016-09-06 01:17] #109 closed

[2016-09-06 21:55] krisis commented on #103
@vadmeste I think we need to add a reference to ``System.Configuration.dll`` in ``Minio.Examples`` project.

[2016-09-06 21:55] krisis commented on #103
@vadmeste I think we need to add a reference to ``System.Configuration.dll`` in ``Minio.Examples`` project.

[2016-09-06 21:56] krisis commented on #103
@vadmeste I think we need to add a reference to ``System.Configuration.dll`` in ``Minio.Examples`` project.

[2016-09-06 21:56] krisis commented on #103
@vadmeste I think we need to add a reference to ``System.Configuration.dll`` in ``Minio.Examples`` project.

[2016-09-06 21:56] krisis commented on #103
@vadmeste I think we need to add a reference to ``System.Configuration.dll`` in ``Minio.Examples`` project.

[2016-09-06 21:56] krisis commented on #103
@vadmeste I think we need to add a reference to ``System.Configuration.dll`` in ``Minio.Examples`` project.

[2016-09-06 22:07] vadmeste commented on #103
@krisis, yes.. however I found the reference already there https://github.com/minio/minio-dotnet/blob/master/Minio.Examples/Minio.Examples.csproj#L40, so maybe it is another problem or we need to add this reference using an IDE which knows what it needs to do (actually, I am compiling from linux console), does it compile fine in your machine ?

[2016-09-06 22:29] krisis commented on #103
@vadmeste I haven't tried it on a Linux machine.

[2016-10-03 01:32] harshavardhana commented on #99
This has been deprecated on the server and not valid anymore.

[2016-10-03 01:32] #99 closed

[2016-10-19 19:19] viniciusscampos opened #113 "NuGet building failing"

[2017-01-13 08:07] harshavardhana commented on #108
If possible please use https://github.com/minio/minio-go or https://github.com/minio/minio-js - this library is going through a re-write and this feature won't be available anytime soon.

[2017-02-12 11:03] harshavardhana opened #116 "Evaluate migrating to .NET Core for all the dependencies."
https://www.nuget.org/packages/RestSharp.NetCore/

[2017-02-12 11:04] harshavardhana commented on #93
Not applicable anymore.

[2017-02-12 11:04] #93 closed

[2017-02-12 11:04] harshavardhana commented on #106
Not applicable anymore.

[2017-02-12 11:04] #106 closed

[2017-02-12 11:05] harshavardhana commented on #94
Implemented already by @poornas - closing.

[2017-02-12 11:05] #94 closed

[2017-02-12 11:06] harshavardhana commented on #54
Already implemented by the new re-write by @poornas

[2017-02-12 11:06] #54 closed

[2017-02-12 11:08] harshavardhana commented on #79
Already implemented by @poornas recent re-write.

[2017-02-12 11:08] #79 closed

[2017-02-12 11:08] harshavardhana commented on #82
This is not a necessity anymore.

[2017-02-12 11:08] #82 closed

[2017-02-12 11:08] harshavardhana commented on #83
This is already fixed by @poornas recent re-write

[2017-02-12 11:08] #83 closed

[2017-02-12 11:12] harshavardhana commented on #113
Closing this as stale we will be re-publishing the nuget package soon.

[2017-02-12 11:12] #113 closed

[2017-02-12 11:14] harshavardhana commented on #116
// cc @poornas we need to evaluate if our SDK will work with .NET Core - https://github.com/dotnet/core

[2017-02-12 11:14] harshavardhana commented on #105
Not applicable anymore, will open new issues with mono build issues.

[2017-02-12 11:14] #105 closed

[2017-02-12 11:15] harshavardhana commented on #98
Closing this as stale issue, we will re-open if this becomes an issue.

[2017-02-12 11:15] #98 closed

[2017-02-12 11:15] harshavardhana commented on #70
Rewrite of error handling is done with new re-write.

[2017-02-12 11:15] #70 closed

[2017-02-12 11:16] harshavardhana commented on #43
Closing this as stale bug, .NET already supports HTTP2 transparently.

[2017-02-12 11:16] #43 closed

[2017-02-18 15:55] poornas opened #118 "Api documentation update"
Review documentation and update the exceptions list - it is not complete as of now.

[2017-02-18 15:59] poornas opened #119 "Evaluate if SDK works with Mono"

[2017-02-18 16:00] poornas opened #120 "Add unit test cases"

[2017-02-23 15:00] donatello opened #121 "Support CopyObject for all sizes"
Requirements are detailed here - https://github.com/minio/minio-go/issues/617

[2017-03-08 15:56] flaviocarmo opened #123 "SignatureDoesNotMatch when using PresignedGetObject"
Using the following code, got a SignatureDoesNotMatch error using the resulting URL:

[code]

Error bellow:

[code]

[2017-04-03 23:01] deekoder commented on #123
Fixed. Will be merged soon.

[2017-04-03 23:02] deekoder commented on #121
will do this in the next release. The first minio-dotnet sdk may not support this API.

[2017-04-03 23:06] deekoder commented on #116
fix is available. Will be merged soon.

[2017-04-03 23:08] deekoder commented on #103
Not Applicable anymore. We cover examples in  #118 and we will support Visual Studio.

[2017-04-03 23:08] #103 closed

[2017-04-03 23:23] deekoder commented on #40
already tracked by #120

[2017-04-03 23:23] #40 closed

[2017-04-04 07:09] harshavardhana commented on #121
Why not?

[2017-04-07 01:02] poornas commented on #53
ETA for first release: Apr 14

[2017-04-07 01:03] poornas commented on #71
Already doing this : ETA Apr14  for first release

[2017-04-07 01:10] poornas commented on #120
ETA for this task - Apr 14

[2017-04-07 01:11] poornas commented on #118
Apr 14 ETA

[2017-04-19 09:21] kfuglsang commented on #116
Do you have any ETA on this?

[2017-04-20 01:14] poornas commented on #116
There is a PR currently under review. Tentatively it will be Apr 28.

[2017-04-23 21:55] deekoder opened #125 "Write the .NET QuickStart Guide"
We can't ship without this, hence high pri.

[2017-04-23 21:56] deekoder opened #126 "Write .NET API reference doc"
Need this in place to put on docs.minio.io

[2017-04-23 21:56] deekoder opened #127 ".NET Sample App for docs.minio.io"
This would be a nice to have.

[2017-04-28 22:47] harshavardhana commented on #123
Fixed in #124

[2017-04-28 22:47] #123 closed

[2017-04-28 22:47] harshavardhana commented on #121
Fixed in #124

[2017-04-28 22:47] #121 closed

[2017-04-28 22:48] harshavardhana commented on #120
Fixed in #124

[2017-04-28 22:48] #120 closed

[2017-04-28 22:49] harshavardhana commented on #116
Fixed in #124

[2017-04-28 22:49] #116 closed

[2017-04-28 22:49] harshavardhana commented on #96
Fixed by #124

[2017-04-28 22:49] #96 closed

[2017-04-28 23:41] harshavardhana commented on #100
Fixed by #124

[2017-04-28 23:41] #100 closed

[2017-04-28 23:41] harshavardhana commented on #80
Fixed by #124

[2017-04-28 23:41] #80 closed

[2017-04-28 23:41] harshavardhana commented on #71
Fixed by #124

[2017-04-28 23:41] #71 closed

[2017-04-28 23:41] harshavardhana commented on #53
Fixed by #124

[2017-04-28 23:41] #53 closed

[2017-05-03 00:08] deekoder opened #130 "For all signed payloads with sha256 avoid calculating Content-Md5"

[2017-05-03 00:58] deekoder opened #131 "Add streaming signature support for putobject API."
- no md5sum. See #130
- only sha checksum for http protocol.
- all put objects have to use streaming signature v4 by default
- Use 8 threads by default optionally configurable.

[2017-05-03 04:55] harshavardhana commented on #130
Currently PutObject() calculates md5sum for each part while uploading to remote server we need to change this behavior into two parts

- For a fresh upload we do not calculate md5sum for each parts, instead we rely on the fact that server anyways calculates and we keep uploading.
- For a resuming upload i.e resuming a previously interrupted upload should calculate md5sum of each parts and skip nec

[2017-05-03 06:48] harshavardhana commented on #130
To dumb it down any request which has a payload and we calculated payload checksum i.e sha256 we should avoid calculating `Content-Md5`.

[2017-05-08 10:14] havenvo opened #133 "Support for NetCore1.1"
Got this error:

error: Package Minio 0.2.1 is not compatible with netcoreapp1.1 (.NETCoreApp,Version=v1.1). Package Minio 0.2.1 supports: net45 (.NETFramework,Version=v4.5)

[2017-05-08 14:43] harshavardhana commented on #133
NetCore support is only available in master branch. We haven't made a release yet.

[2017-05-09 00:45] poornas commented on #133
@deekoder, we are just waiting for package to be published to nuget on this one.

[2017-05-13 01:17] #101 closed

[2017-05-13 07:23] harshavardhana opened #135 "Support client side encryption for GetObject() and PutObject()"
Support GetObject/PutObject AWS S3 based client side encryption - for reference check https://github.com/minio/minio-java/pull/561

[2017-05-16 17:56] poornas commented on #118
This is in place

[2017-05-16 17:56] #118 closed

[2017-05-16 17:57] poornas commented on #126
@deekoder, can we link Api reference to docs.minio.io

[2017-05-16 17:58] poornas commented on #125
@deekoder , can we link Readme.md to docs

[2017-05-17 20:24] poornas commented on #133
Minio.Netcore 1.0.0 has been published on NuGet

[2017-05-17 20:24] #133 closed

[2017-05-17 20:25] poornas commented on #126
Done.

[2017-05-17 20:25] #126 closed

[2017-05-17 20:25] poornas commented on #125
Done

[2017-05-17 20:25] #125 closed

[2017-05-31 07:26] poornas opened #140 "Implement RemoveObjects API to remove objects in batches"
Refer #467 of Minio-Java. Content-Md5 needs to be set for multi object deletes

[2017-06-11 06:48] poornas commented on #119
SDK just works on mac/os with VS2017. This can be closed.

[2017-06-11 07:13] harshavardhana commented on #119
How about Linux ?

[2017-06-16 18:30] deekoder opened #141 "Evaluate windows base image as a docker container."
This will help us run mint tests on windows with visual studio. https://blog.docker.com/2016/09/build-your-first-docker-windows-server-container/

[2017-06-16 18:30] deekoder commented on #141
moving to mint.

[2017-06-16 18:30] #141 closed

[2017-06-16 18:38] poornas opened #142 "Feature: Add put object with meta data Api"
Catch up with minio-go sdk

[2017-06-17 00:52] #130 closed

[2017-06-20 18:07] poornas opened #144 "Nested path not created for PutObject call"
Expected PutObject(bucket,"/path/to/object") to succeed. Instead the / gets stripped and object with name pathtoobject is created.

[2017-06-21 18:37] poornas commented on #108
@deekoder, this was fixed in #136

[2017-06-26 01:16] #108 closed

[2017-06-28 20:20] #142 closed

[2017-07-04 16:29] NitishT opened #147 "Functional tests should use streaming"
Minio-dotnet functional tests will be used in Mint framework to test Minio server. This calls for uniform usage of Files across Minio-SDK functional tests.

It was concluded that (https://github.com/minio/mint/pull/67/files)

- Tests should generate their own data by using input/output streams. These streams should be used for testing upload cases.

This makes tests flexible, removes too much depe

[2017-07-04 16:43] poornas opened #148 "Multipart upload functional tests fail on Linux"
Functional tests for dotnet sdk fail on Ubuntu for multipart uploads
Updating issue description as the previous error was due to netcore1.0 being used instead of netcore1.1. After updating the netcore version, multiparts still fail due to one or more uploaded parts not being found.

Error log:
=============================================================================
[Bucket]  Exception: One or

[2017-07-05 17:06] #144 closed

[2017-07-10 18:52] NitishT commented on #147
Fixed by https://github.com/minio/minio-dotnet/pull/150

[2017-07-12 00:51] poornas opened #151 "Add travis ci for building sdk on linux"

[2017-07-15 19:04] #119 closed

[2017-07-20 07:40] Hermain opened #153 "Support for metadata not in .netCore nuget package"
I discovered that the .netCore Nuget package contains no PutObjectAsync method with metadata in ObjectOperations.cs

To fix this issue I checked out the git repo and used the sources directly. However there the method signature is:
[code]

In the [API.md](https://github.com/minio/minio-dotnet/blob/master/Docs/API.md#putobjectasyncstring-bucketname-string-objectname-stream-data-long-size-string-con

[2017-07-21 06:27] ondrejtomcik commented on #153
Same issue. Need to use metadata but nuget package is not up to date and documentation does not reflect reality. +1

[2017-07-21 16:25] deekoder commented on #153
Will look at it soon. Thanks for filing this issue.

[2017-07-24 19:48] #148 closed

[2017-07-24 19:49] #153 closed

[2017-07-25 07:56] Hermain commented on #153
Great that you fixed this. Will the nuget packages be updated so that the world can use these things without cloning the git repo?

[2017-07-25 07:59] ondrejtomcik commented on #153
This issue is not solved.

Missing nuget package with newest changes is the primary issue imho

[2017-07-25 08:00] harshavardhana commented on #153
The issue is closed once the PR is merged. nuget package will soon follow.

[2017-08-02 02:45] balamurugana opened #156 "Missing functional tests for Mint category"
- [x] 1. Generate content for any size using stream than creating random bytes
- [x] 2. Missing test for putobject() without content type.
- [x] 3. Missing test for putobject() for unknown sized stream (single/multipart) (may be missing feature)
- [x] 4. Missing test for putobject() for multipart resume (may be missing functionality)
- [x] 5. Missing test for putobject() for client side encryption

[2017-08-06 09:14] kvandake opened #158 "Support Xamarin"
Do you plan to support [Xamarin](https://xamarin.com)?

[2017-08-07 09:33] billschen opened #159 "ListBucketsAsync not word,what I can do?"
@koolhead17
I use **Install-Package Minio** to install  .NET SDK like:
![del_1](https://user-images.githubusercontent.com/19528399/29020647-52de0b10-7b95-11e7-8731-6f2f604c6461.png)
Next i follow the the page [https://github.com/minio/minio-dotnet](https://github.com/minio/minio-dotnet) and create a win form to list bucket:
`using System;
using System.Collections.Generic;
using System.ComponentMod

[2017-08-07 17:03] NitishT opened #160 "Update minio-dotnet to output new mint log format"
`minio-dotnet` tests are used in `mint` to test Minio server. `minio-dotnet` logs need to be updated in the format below so that `mint` logs can be easily parsed.
[code]

[2017-08-07 17:50] poornas commented on #158
@kvandake, minio .net SDK runs on Visual Studio for Mac. So you could pull in the nuget package into your project and check it out.

[2017-08-07 23:40] poornas commented on #153
@Hermain  and @ondrejtomcik , nuget package has been updated for PutObjectAsync with metadata

[2017-08-09 18:05] poornas commented on #159
@billschen, is it possible for you to share your csproj?

[2017-08-10 02:56] poornas commented on #158
That's really neat @kvandake.If you plan to send a pull request,  the xamarin/Xamarin folder hierarchy will make it difficult to integrate into the code base. Does Xamarin have inbuilt tools to convert .net code to droid?

[2017-08-11 23:13] #147 closed

[2017-08-14 11:10] kvandake commented on #159
please use
[code]

[2017-08-15 16:46] poornas commented on #159
@billschen, did using await for the ListBucketsAsync call resolve your issue?

[2017-08-16 17:52] #151 closed

[2017-08-18 08:41] billschen commented on #159
@kvandake :+1:  @poornas .Sorry for replay so late.
@kvandake's code is work!. It's my mistake. I don't no much about async method!

[2017-08-18 09:15] #159 closed

[2017-08-23 12:42] ondrejtomcik opened #164 "Unable to create presigned post policy"
When you call `PresignedPostPolicyAsync` in same way as it is defined in examples, it's throwing exception.
[code]
exception
`ArgumentNullException: String reference not set to an instance of a String.`
[code]

Minio .NET SDK version `Minio.NetCore 1.0.1`

[2017-08-28 18:41] #164 closed

[2017-08-31 21:53] #160 closed

[2017-09-06 00:31] poornas opened #169 "PutObject call needs to support unknown sized stream"
SDK needs to catch up on unknown sized stream support.

Needs functional test - see #156
 3. Missing test for putobject() for unknown sized stream (single/multipart) (may be missing feature)

[2017-09-06 19:47] poornas opened #170 "Presigned Get and Put need to enforce default timeout and support response headers"
- Need to raise an error if time to expire > 7 days. If missing expiry duration, need to set expiry default to 7 days
- Add support for additional response header overrides to bring in conformity with other SDKs

- Needs functional tests Refer #156
 16. missing test for presignedgetobject() with default timeout
 17. missing test for presignedgetobject() with response headers.
 18. missing test for

[2017-09-14 17:51] #170 closed

[2017-09-18 18:13] #156 closed

[2017-09-21 16:27] RaviSamsher opened #175 "RestSharp.NetCore 105.2.3 dependency on System.Runtime.Serialization.Formatters"
I am getting an warning about restsharp.netcore...

Warning msg is **"RestSharp.NetCore 105.2.3 depends on System.Runtime.Serialization.Formatters (>= 4.0.0-rc4-24217-03) but System.Runtime.Serialization.Formatters 4.0.0-rc4-24217-03 was not found. An approximate best match of System.Runtime.Serialization.Formatters 4.3.0-preview1-24530-04 was resolved."**

![image](https://user-images.githubuserc

[2017-09-22 21:30] poornas commented on #175
Thanks for raising the issue @RaviSamsher , it is safe to ignore the dependency warning for now. We will fix this package dependency with the next release of the SDK.

[2017-09-26 09:57] rahulmistry25425 opened #176 "how to get path of files ?"
i am using .net minio library, is there any way by which i can get path of file?

[2017-09-26 11:35] #176 closed

[2017-10-02 22:42] #169 closed

[2017-10-03 21:01] ebozduman commented on #158
I'm moving this to `Future` milestone at least until we hear from @kvandake.

[2017-10-19 04:30] wowi42 opened #179 "Regions"
Hi,

we've deployed a minio instance for one of our project, but we were facing some issues with the .net client:

- we've changed the name of the region in the minio server conf to abu-dhabi-1
- Signature was invalid with the .net client

I didn't find any way to modify this region in the .net constructor.

Could you please confirm what should be the default behavior?

Regards

[2017-10-19 17:14] poornas commented on #179
@wowi42 , abu-dhabi-1 is not a valid region supported by aws s3 - you can find a list of valid endpoint regions here (http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region). If the minio server is configured to a specific region, the only time you would pass this region from the .net sdk is when you do a MakeBucketAsync call.

[2017-10-23 05:46] poornas commented on #179
@wowi42 , did we answer your question and is there anything else we can help with? Please feel free to close this issue if it is resolved for you.

[2017-10-23 17:21] #175 closed

[2017-10-23 17:50] deekoder commented on #175
closing this as Won't fix since the fix is outside of our codebase.

[2017-10-30 10:02] Wincy94 opened #181 "How to get lots of objects efficiently? Like Pagination or else?"
I want to know how to get lots of objects efficiently. Because lists all objects every time and analogs paging seems a little bit slow. Do you have any other solution?

[2017-10-30 17:33] poornas commented on #181
@Wincy94, have you tried setting the prefix on the ListObjectsAsync call? That would restrict the number of objects retrieved to the ones matching the object name prefix  - e.g. ListObjectsAsync("my-bucket","my-prefix").

Could you elaborate on your use case?

[2017-10-31 01:42] Wincy94 commented on #181
Thanks for your reply. Yes, I had set the prefix. But I want to get all objects with same prefix in the bucket right now. Does it have any solution like return 1000 obejects in one time and get the other objects in next time?

[2017-10-31 01:46] harshavardhana commented on #181
You are getting 1000 objects at one time we just add yielder to stream all the output so essentially you never have to paginate,  current implementation is an efficient implementation which allows for you to implement higher level functionality. If you need low level access you should use aws-sdk-dotnet, this SDK is not built for this purpose.

[2017-10-31 02:07] Wincy94 commented on #181
Fine, thanks for your help~

[2017-10-31 02:08] #181 closed

[2017-10-31 20:58] deekoder commented on #179
closing. Please reopen if we didnt answer your wuetion @wowi42

[2017-10-31 20:58] #179 closed

[2017-11-01 09:34] Disturbing opened #182 "Setup interfaces for Minio Client to be testable"
Would be great for the MinioClient to be testable via interfaces :)

[2017-11-01 19:49] thestarkey opened #183 "Regions (again) .netcore"
Hi, seems that all regions other than us-east-1 are not working for `PutObjectAsync,` and there is no way to set regions in any constructor or parameter.  Am I missing something?  When I try `PutObjectAsync`, I get:

`File Upload Error: Minio API responded with message=The authorization header is malformed; the region 'us-east-1' is wrong; expecting 'us-east-2'`

[2017-11-01 20:07] poornas commented on #183
@thestarkey, region can only be passed when you do a MakeBucketAsync call. PutObjectAsync will automatically detect region - what is the endpoint being passed to the MinioClient constructor?

[2017-11-01 20:18] thestarkey commented on #183
Thanks, I'm using s3.amazonaws.com

[2017-11-01 20:42] poornas commented on #183
@thestarkey, this is a bug in the sdk, thanks for reporting. Will be sending a fix shortly.

[2017-11-01 20:43] thestarkey commented on #183
Awesome, thanks!!

[2017-11-01 21:36] harshavardhana commented on #182
Can you explain more on this a bit? Looks like the issue description is incomplete.

[2017-11-08 15:53] alexeyzimarev commented on #175
Use the latest RestSharp instead.

[2017-11-08 17:42] poornas commented on #175
Thanks @alexeyzimarev, that's great news. We will switch over.

[2017-11-08 21:44] #183 closed

[2017-11-08 22:11] poornas opened #186 "Switch from Restsharp.Netcore to Restsharp"
Restsharp has now added support for .Netstandard 2.0
(https://github.com/restsharp/RestSharp/pull/1025). Need to replace Restsharp.Netcore in favor of the official sdk.

[2017-11-13 01:19] Disturbing commented on #182
I can't easily mock the MinioClient for testing - have to create a wrapper
around it.  Would be great to have the classes implement an interface.

On Thu, Nov 2, 2017 at 5:36 AM Harshavardhana <notifications@github.com>
wrote:

[2017-11-13 02:49] harshavardhana commented on #182
An interface is only useful here if you wish to create many types of clients. That is out of scope for minio-dotnet IMHO.

[2017-11-13 03:24] Disturbing commented on #182
The point is if I want to make a Mock Minio folder (locally for testing), I
have to create some sort of Interface like

class IFileStorage
void GetFile(string path);

Within that I would have an implementation of minio.

Preferably, it would be nice to have IMinioClient, mock it, and return the
files as peer Minio's functions.

It's just a bit more test friendly is all, but not a priority.

Thanks

[2017-11-13 20:48] #140 closed

[2017-11-15 19:59] xmichaelx opened #187 "Add setting response Content-Disposition header for PresignedGetObject"
In JS minio client we can set response headers like Content-Disposition while getting presigned get object, could we have the same functionality in dotnet client?

[2017-11-16 18:45] #182 closed

[2017-11-20 19:19] poornas commented on #187
@xmichaelx, this is already supported - you need to pass request parameters in a dictionary.
https://github.com/minio/minio-dotnet/blob/master/Docs/API.md#presignedGetObject

[2017-11-20 21:09] xmichaelx commented on #187
Thanks! Could you update nuget package Minio then? Version 1.0.2 does not have this additional argument for PresignedGetObjectAsync method.

[2017-11-21 22:47] harshavardhana commented on #187
We will update it soon. @xmichaelx

[2017-11-30 02:43] kannappanr opened #193 "Functional test: Exception message displayed on the console"
An exception message is being displayed on the console. The test itself succeeded, so the message should not be shown.

Here is a portion of the JSON log.
[code]

[2017-11-30 02:47] kannappanr opened #194 "Functional test: function name should not contain the test name"
Function name should not contain the test name. It should contain the API that was intended to be tested.

[code]

`BucketExists_Test ` should not be the value of the function field. It should be something like `Task<bool> BucketExistsAsync(string bucketName, CancellationToken cancellationToken = default(CancellationToken)`

[2017-11-30 02:48] kannappanr opened #195 "Functional test: args field is missing"
Args field is missing from the JSON log output. Here is an example
[code]

[2017-11-30 02:53] kannappanr opened #196 "Functional test: Do not display fields that has empty strings in the JSON log"
Fields with empty strings should not be displayed.
[code]
In the example given above, alert, message and error are all empty and should not be displayed.

[2017-11-30 02:56] kannappanr opened #197 "Functional test: value of name field should be lower case"
Value of the `name` field should be lower case.
`{"name":"Minio.Net","function":"BucketExists_Test","duration":817,"status":"PASS","alert":"","message":"","error":""}`

Here `Minio.Net` should be  `minio-.net` to be consistent with other SDKs

[2017-11-30 16:07] poornas commented on #196
@nitisht , will reassign this to myself as this is a one line change, and belongs with other fixes to logging.

[2017-11-30 16:09] poornas commented on #197
@kannappanr, this is a small change that is part of the logging fixes. will fix it as part of #194-#196. Reassigning to myself.

[2017-12-01 07:47] #193 closed

[2017-12-02 03:28] #194 closed

[2017-12-02 03:28] #197 closed

[2017-12-02 03:28] #196 closed

[2017-12-02 03:30] poornas commented on #187
@xmichaelx, package has been updated.

[2017-12-02 03:30] #187 closed

[2017-12-02 09:29] xmichaelx commented on #187
You've  updated existing 1.0.2 package or bumped the version to 1.0.3?

[2017-12-02 09:30] harshavardhana commented on #187
1.0.3 we will be making 1.0.4 by next week as well.

[2017-12-05 00:29] #195 closed

[2017-12-20 09:57] babedev opened #202 "Error response 'Difference between request time and server time'"
I integrated minio-dotnet with my dotnet core project. Everything work fine on Kestrel but it got error on IIS.

It responded 'Minio API responded with message=The difference between the request time and the server's time is too large.'

[2017-12-20 16:50] poornas commented on #202
could you run date command on both the machines - IIS server running minio-dotnet sdk and the other ubuntu server with minio running on it? You might want to check the globalization .NET settings on IIS server

[2017-12-21 03:55] babedev commented on #202
on Windows server: `Thursday, December 21, 2017 10:53:37 AM`
on Ubuntu server: `Thu Dec 21 10:53:37 +07 2017`

Both server use same timezone

[2017-12-21 04:50] poornas commented on #202
could you also log the system date inside your client app and see if there is any discrepancy with what the iis server shows? The request is signed with system date in utc format and no other date manipulation is done.

[2017-12-22 16:36] poornas commented on #202
@babedev, were you able to check if system date used in dotnet app matches iis server date and timezone?

[2017-12-22 17:39] babedev commented on #202
I got different time on IIS log. It showed 5PM but it should be 12AM. I think it is IIS time setting problem. I will keep you update when I got more information.

[2017-12-22 17:42] poornas commented on #202
thanks for the update @babedev. I am not familiar with IIS server, but looks like iisreset or changing [.net globalization settings](https://technet.microsoft.com/en-us/library/cc725971(v=ws.10).aspx) might help

[2017-12-28 01:28] poornas commented on #202
@babedev, is your issue resolved? Please let us know if we can assist further.

[2017-12-28 03:46] babedev commented on #202
I try to fix date time on IIS but I cannot find .NET globalisation on IIS manager. May be because of .NET core. I am trying other ways to change it in StartUp.cs.

[2018-01-05 14:17] babedev commented on #202
I found root cause of this problem. I think it is locale problem because IIS server send date time with Buddhist calendar system, but on Minio server use Gregorian calendar.

I will try fix calendar system on IIS side.

[2018-01-09 13:49] tobmatth opened #207 "Assembly not found: Minio.XmlSerializers"
I'm facing a `FileNotFoundException` for `Minio.XmlSerializers, Version=1.0.6.0, Culture=neutral, PublicKeyToken=null` when running the following code snippet:

    IObservable<Item> observable = minioClient.ListObjectsAsync(this.minioBucket, null, true);
    IDisposable subscription = observable.Subscribe(
      item => Debug.WriteLine(item.Key));
    observable.Wait<Item>();

My server is the la

[2018-01-09 18:20] poornas commented on #207
@tobmatth, are you using VS 2017 or VS 2015? SDK works only on VS 2017. You might want to run the example project ```https://github.com/minio/minio-dotnet/tree/master/Minio.Examples/Minio.Client.Examples.Net452``` and see if the ListObjectsAsync method throws up an error.

[2018-01-09 18:57] tobmatth commented on #207
I'm using VS 2015. Thanks for the hint, will try VS 2017 tomorrow...

[2018-01-10 09:06] tobmatth commented on #207
Works in Visual Studio 2017, thanks...

[2018-01-10 09:06] #207 closed

[2018-01-10 21:27] kannappanr commented on #202
Closing the issue as fixing calendar on IIS side will solve as the reporter has mentioned.

[2018-01-10 21:27] #202 closed

[2018-01-12 06:23] MedAnd opened #209 "BucketExistsAsync fails silently in a VS 2017 unit test debug session"
The following call fails silently in a VS 2017 unit test debug session:

`bool found = await _minioClient.BucketExistsAsync(bucketName);`

debugging the Minio .Net client code it seems to be the following line:

![image](https://user-images.githubusercontent.com/13365135/34862135-c92d9026-f7bc-11e7-93a4-666a96f116ec.png)

[2018-01-12 06:29] kannappanr commented on #209
@MedAnd Does it work in `release` mode? When you say `fail silently`, can you explain that behavior in more detail?

[2018-01-12 06:43] MedAnd commented on #209
Will have to get back to you about release mode but I’m checking if bucket exists else create bucket in a unit test... there are no exceptions and the tests passes yet no bucket or file are created...

[2018-01-12 06:51] kannappanr commented on #209
Is it possible to paste the source code here? Also, what is the unit test trying to do?

[2018-01-12 18:23] poornas commented on #209
@MedAnd, the line you highlighted just makes a GET location call so that we can cache the region your bucket is on. you might want to break on ParseError() method that parses response status for the HEAD call (i.e. after the location call returns) - what is the response status and error code you receive? It is possible there might be a bug here.

[2018-01-16 03:28] poornas commented on #209
@MedAnd , are you still encountering an error?

[2018-01-16 09:23] MedAnd commented on #209
@poornas, having re-written my unit tests now to use latest .Net Core I am not able to repro...

The original unit tests were for .Net46, in addition I also force downgraded JSON.Net to be < 10... which could be the root cause but still requires further testing... I needed to downgrade due to clashes with other open source libraries I already use such as Elasticsearch NEST.

PS. I can close and re

[2018-01-16 18:37] poornas commented on #209
@MedAnd, I am closing this for now. Feel free to reopen if you see the issue again.

[2018-01-16 18:37] #209 closed

[2018-01-17 14:59] jerauskin opened #210 "ExecuteTaskAsync"
Hello, I'm using your library in a Winforms project and ExecuteTaskAsync function of MinioClient.cs hangs executing ListBucketsAsync() function. SimpleTest.cs runs OK with same parameters.

Thanks for your library

[2018-01-17 19:38] poornas commented on #210
which version of .NET are you using @jerauskin? Can you share the snippet of relevant code where you are calling ListBucketsAsync?

[2018-01-18 02:51] kannappanr commented on #135
Server Side encryption is supported in all SDKs. Will implement this feature if we get any request from community to add this feature. Closing this issue for now.

[2018-01-18 02:51] #135 closed

[2018-01-18 03:00] kannappanr commented on #131
Will be implemented if any community user requests this feature.

[2018-01-18 03:00] #131 closed

[2018-01-18 03:22] kannappanr commented on #127
Closing this as not required. Will be implemented based on a request from community.

[2018-01-18 03:22] #127 closed

[2018-01-18 09:58] jerauskin commented on #210
Hello,

I'm using .NET 4.5.2 and I think de problem is In RestSharp library. The code is very simple:

using System;

using System.Net;

using System.Threading.Tasks;

using System.Windows.Forms;

using Minio;

using Minio.DataModel;

namespace Mantenimiento_Arq_Backup

{

    public partial class frmPrincipal : Form

    {

        public frmPrincipal()

        {

            InitializeComponent

[2018-01-18 16:20] jerauskin commented on #210
Hello,

I found the solution. I follow the instructions of this page:

http://blog.stephencleary.com/2012/07/dont-block-on-async-code.html

And I change this code:

            var getListBucketsTask = minio.ListBucketsAsync();

            try

            {

                Task.WaitAll(getListBucketsTask); // block while the task completes

            }

            catch (AggregateException a

[2018-01-18 16:30] poornas commented on #210
that's good @jerauskin

[2018-01-18 18:45] kannappanr commented on #158
Not required right now. Will implement this if we get more support/ interest from the community.

[2018-01-18 18:45] #158 closed

[2018-01-18 20:28] #210 closed

[2018-01-29 18:14] poornas commented on #186
closing this as it is a nice to do rather than pressing concern.

[2018-01-29 18:14] #186 closed

[2018-02-02 00:18] twgraham commented on #186
Is it really a big deal to fix? I tried doing the change myself and it didn't seem to break anything (the API's seem the same).

As a net core user, every time I build I'm reminded that `minio-dotnet` is using libraries that can't resolve their own dependencies correctly. Although it might not be the case, It makes me feel as though support for net core is a secondary priority.

[code]

[2018-02-02 01:15] poornas commented on #186
@twgraham, when I tried the conversion it seemed to break the signature verification. Thanks for the feedback - will revisit this as I find bandwidth.

[2018-02-10 15:12] niemyjski opened #211 "Update Dependencies"
I was looking over the project and I had some feedback and questions.

1. Then new project format supports multiple targets of which you can support net452 and .net core in a single csproj which would simplify the whole solution greatly. See: https://github.com/exceptionless/Exceptionless.Net/blob/master/src/Exceptionless/Exceptionless.csproj#L10 Not only this, but you can greatly simplify how nug

[2018-02-11 02:42] poornas commented on #211
@niemyjski , thanks for offering to send over a pr or help maintain this project. Both are welcome :+1:

[2018-02-26 23:55] deekoder commented on #211
@niemyjski  we don't currently have the cycles to work on this request. If you are able to please send us a PR and we will much appreciate your contribution to minio.

[2018-03-08 23:47] krishnasrinivas opened #213 "set/getBucketPolicy should take/return policy JSON file"
Currently the set/getBucketPolicy APIs are high level providing fine grained access. It was decided to make set/getBucketPolicy a low level API directly dealing with the policy json file to make the client libs simpler.

Changes similar to minio/minio-js#676 is needed.

[2018-03-09 19:17] reinaldocoelho opened #214 ""PresignedGetObjectAsync" method does not respect indicated Header parameters."
I'm trying to get a URL with temporary access with the PresignedGetObjectAsync () method to the stored object, and I intend to send the content-disposition as a parameter so that the file is downloaded with a different name from the one stored in Storage.

Upon request, a valid URL is received, which correctly downloads the file, but with the name that is in the Storage, and not with the name indi

[2018-03-13 02:54] reinaldocoelho commented on #214
Hi @poornas !
I created a PullRequest to include Request.Parameters in final URL.
Can you validate and give me a feedback?

The PR is #215.

[2018-03-18 08:11] #214 closed

[2018-03-19 10:30] bartnuman commented on #211
In addition to this issue; I had an issue where the Main project (web site) had a reference to System.Xml.Linq (.NET framework 4.5.2, so versio 4.0), where the used System.Xml.Linq package referenced by Minio (a port for mono) is version 3.5 (from .NET Framework 2.0). This is causing issue in combination with WebactivatorEx, which is used by Microsoft.Web.Infrastructure...

[2018-03-20 00:44] #213 closed

[2018-03-24 14:41] BlitzinBuffalo commented on #186
Is there any chance this can be looked at again?

I use the official `RestSharp` in my .Net Core 2 project, but when I try adding `Minio.NetCore`, I am faced with a number of `ambiguous reference` errors.

[2018-03-24 21:48] poornas commented on #186
@BlitzinBuffalo , PR https://github.com/minio/minio-dotnet/pull/212 is adding official Restsharp support.

[2018-04-20 07:49] guidoffm commented on #211
I think it is impossible to run the code on Linux because the code accesses the Windows registry that is not available on Linux.
I have created a version that does not need access to the Windows registry.

My version works on Linux when it uses the (unsupported) RestSharp.DotNetCore. But this does not work with DotNet 4.x.

The maker of the original RestSharp package claim that RestSharp should wo

[2018-04-20 16:56] poornas commented on #211
@guidoffm, current master branch of minio-dotnet sdk works on Linux as well as Windows - though it does depend on the unofficial Restsharp.Netcore. The official version of Restsharp had issues originating in upstream HttpClient implementation of DotnetCore. @niemyjski , do you think this PR should be closed until Restsharp issue is resolved?

[2018-04-20 18:19] niemyjski commented on #211
I think we should leave it open, as users will know what's going on. I'll follow up with restsharp as I know this issue has been fixed in .net core 2.1 preview 2 and may be back ported.

[2018-04-25 13:49] guidoffm commented on #211
For me the question is: Is there a NuGet package that works both on Net461/Windows and NetCore20/Linux.

[2018-04-25 17:05] poornas commented on #211
@guidoffm, .net framework can only be run with Mono on Linux, whereas the .netcore package works without additional dependencies on Linux. This is the reason we have two packages for the minio sdk -  [Minio](https://www.nuget.org/packages/Minio/) works on .Net4.5.2 upwards [on windows or with Mono on Linux] and [Minio.Netcore](https://www.nuget.org/packages/Minio.NetCore/) on Linux/Windows.

[2018-06-06 00:28] Kimserey opened #222 "BucketExistsAsync takes 1 second to complete"
`BucketExistsAsync` takes 1 second to complete with Minio setup on local with the following configuration:

[code]

**Is that an expected duration?**
If not, could you point me where should I look at?

[2018-06-06 00:32] #222 closed

[2018-06-06 00:33] Kimserey commented on #222
I just tested on the hosted Minio playground and it takes about 500ms. Thanks.

[2018-06-19 08:59] WolfspiritM opened #224 "Accessing LastModifiedDateTime when using recursive is false throws Exception"
Hi,

When I loop over objects in minio using recursive=false and then accessing the LastModifiedDateTime property it throws an exception:

"ArgumentNullException: String reference not set to an instance of a String.Parameter name: s"

The reason seems to be the DateTime.Parse here:
https://github.com/minio/minio-dotnet/blob/1fd303c25a238d7aa08d72d4b50b549ceb9dac68/Minio/DataModel/Item.cs#L54

In t

[2018-06-22 11:31] dmpriso opened #225 "Download large files"
When using ```async``` semantics to get a large file, the whole file must be read into RAM, also blocking a thread. This is especially an issue in a server environment.

One might expect the following to work:
[code]

However that fails because the stream "s" must be consumed inside the stream callback. This is because RestSharp closes the request immediately after calling the callback.
There is a

[2018-06-25 11:11] dmpriso opened #226 "Upload zero-byte files fails"
Using the minio.net API it's not possible to upload files without content.

[code]

When not using a stream but an empty file same problem exists:
[code]

A ```NullReferenceException``` occurs inside Minio in that case.
Cross tested with Amazon S3 SDK on minio server it works.
Omitting content type parameter didn't help either.

[2018-06-25 20:08] WolfspiritM commented on #224
@poornas I was running minio inside a docker container. It's not an empty folder.
I created files under the key test/folder/file

Then I do GetObjectAsync with prefix "test/" and LastModified is null.

Here is my test code:
https://gist.github.com/WolfspiritM/7cee41b0ceae6d5a9fecaa6192e7fe27
(using Minio.NetCore)

It Outputs:
[code]

[2018-06-25 21:20] poornas commented on #224
@WolfspiritM , thanks - I was able to repro the issue, will send a fix shortly.

[2018-06-26 17:11] #226 closed

[2018-06-26 18:56] #224 closed

[2018-06-27 16:35] poornas commented on #225
thanks @twgraham, that's worth exploring

[2018-06-27 20:57] kannappanr commented on #211
Closing this issue as fixed as the corresponding PR #212 has been merged. @niemyjski  Thanks for the awesome work.

[2018-06-27 20:57] #211 closed

[2018-06-28 14:43] WolfspiritM opened #229 "Support setting metadata for CopyObject"
Hello,

We are looking for a way to change the metadata of an object stored in minio without downloading and reuploading the object. I've learned that S3 does support changing metadata by using the CopyObject and using the same bucket and object-key and it also seems minio does support that. See here:
https://github.com/minio/minio/issues/3316

The .NET SDK does not support metadata for CopyObject

[2018-06-28 15:58] niemyjski commented on #211
Thanks!

[2018-07-15 15:33] Condor2708 opened #234 "Nuget is embedding all dependencies into the lib folder"
It could be possible to only add Minio.dll in the lib folder and not all the files such as Newtonsoft

[2018-07-17 00:21] poornas commented on #234
@Condor2708, we will be releasing a new version of the SDK shortly which will fix this.

[2018-07-24 01:41] niemyjski commented on #211
Can we please get a new release.

[2018-07-24 22:09] poornas commented on #234
@Condor2708 , https://www.nuget.org/packages/Minio/ should fix your issue

[2018-07-26 14:39] WolfspiritM opened #235 "4.5.2 support dropped?"
Hi,

I've an older project which still targets .NET 4.5.2 but it seems like 2.0 doesn't target 4.5.2 anymore.
Is that a mistake or is the Readme just not updated yet and I have to upgrade to .NET 4.6?

https://github.com/minio/minio-dotnet/blob/master/Minio/Minio.csproj#L5

[2018-07-26 16:11] #234 closed

[2018-07-26 18:52] poornas commented on #235
@WolfspiritM, the Readme has to be updated - we simplified the build system and moved to official version of Restsharp client for Minio, because of multiple incompatibilites between packages, we had to move the minimum version supported for .NET framework to .net4.6

[2018-08-03 18:48] kannappanr commented on #235
@WolfspiritM Closing this issue as answered.

[2018-08-03 18:48] #235 closed

[2018-09-04 16:14] DeepSnowNeeL opened #238 "Invalid endpoint"
Hello i'm trying to use minio on docker containers, and I usually use docker names as hostnames since it resolves correctly with the docker DNS system.

But I can't because I got this exception :
`Minio.Exceptions.InvalidEndpointException: 'Minio API responded with message=Endpoint: minio_recette does not follow ip address or domain name standards.'`

I use both the java & c# api for minio, and so

[2018-09-04 16:19] poornas commented on #238
@DeepSnowNeeL, init the c# client like this and it should work.
[code]

[2018-09-04 16:29] DeepSnowNeeL commented on #238
Great :)
Please make it work for the java API as well. (and others ?)

Btw, It works when I specify the IP directly so I'll use that for now

[2018-09-07 15:38] nitisht opened #240 "Functional tests fail on current master"
Running mint on current Minio master gives this error

[code]

[2018-09-11 00:57] ebozduman opened #244 "Mint failure for test 'PresignedGetObject_Test1' against Minio in FS mode"
Minio version:
Version: 2018-09-10T23:25:15Z
Release-Tag: DEVELOPMENT.2018-09-10T23-25-15Z
Commit-ID: 75715820007a8832f4bc86c338d2ce1cb11eff2f

Mint ("edge" as of 09/10/2018) failed for minio-dotnet test with the following error message:
[code]
/mint/run/core/minio-dotnet/FunctionalTest.cs:line 1768 points to task `PresignedGetObject_Test1`.

Reproducibility:
Running the same mint:edge tests again

[2018-09-11 01:29] kannappanr commented on #244
Succeeds with 08-25 build and fails with 09-01 build

[2018-09-11 05:47] poornas commented on #244
This test failure is due to regression from commit 72fa2b4537da746236541eb0592e7de3800a60b4(https://github.com/minio/minio/pull/6206). The PresignedGetObject test fails because the http listener times out while getting resource in line 207-213 of cmd/http/listener.go.

[2018-09-13 21:57] poornas commented on #244
This is fixed by https://github.com/minio/minio/pull/6465

[2018-09-13 22:03] kannappanr commented on #244
Closing this issue as fixed based on minio/minio#6465

[2018-09-13 22:03] #244 closed

[2018-09-13 22:16] #240 closed

[2018-09-17 09:21] harshavardhana opened #245 "dotnet tests failed on azure gateway with NotImplemented error"
## Mint Automation
| Test | Result |
|:--- |:--- |
| mint-tls.sh | :heavy_check_mark: |
| mint-gateway-s3.sh | :heavy_check_mark: |
| mint-xl.sh | :heavy_check_mark: |
| mint-gateway-nas.sh | :heavy_check_mark: |
| mint-large-bucket.sh | :heavy_check_mark: |
| mint-worm.sh | :heavy_check_mark: |
| mint-fs.sh | :heavy_check_mark: |
| mint-dist-xl.sh | :heavy_check_mark: |
| mint-gateway-azure.sh |

[2018-09-18 23:22] #245 closed, assigned to poornas

[2018-09-24 11:58] WolfspiritM commented on #238
This is causing us issues aswell.
With docker this is definitely needed as docker distincts stacks based on stackname_servicename.

[2018-10-16 13:02] Brunni opened #251 "Support server-side encryption"
Support server-side encryption feature of minio:
Needed headers:
- X-Amz-Server-Side-Encryption-Customer-Algorithm
- X-Amz-Server-Side-Encryption-Customer-Key
- X-Amz-Server-Side-Encryption-Customer-Key-MD5

see https://github.com/minio/cookbook/blob/master/docs/how-to-use-minio-server-side-encryption-with-aws-cli.md

[2018-10-16 23:35] kannappanr commented on #251
@Brunni  Thanks for filing this issue. We will try to add this in the near future.

[2018-10-30 23:00] danflee opened #253 "Error Setting CurrentCulture"
Hello,
I am encountering an issue when using a specific CurrentCulture and not sure what is the cause. The site I am working on supports multiple languages and the user’s language preference is submitted along with the data to our REST endpoint. With each request, we are setting the Thread.CurrentThread.CurrentCulture with this language value.

For some reason, the below exception is thrown only w

[2018-10-31 17:22] kannappanr commented on #253
@danflee Thanks for filing this issue. We will take a look and get back to you.

[2018-10-31 17:39] RichardMendelsohn opened #254 "When using PutObjectAsync command bucket update time is being continuously updated after transfer has completed."
Steps:
Copy File To bucket/foo using PutObjectAsync
Observe call has finished, and mc ls -I shows no incomplete jobs on bucket
Observe update time for bucket is still being constantly set to the current time

[2018-10-31 17:50] kannappanr commented on #254
@RichardMendelsohn Thanks for filing this issue. We will take a look at this issue and get back to you.

[2018-11-01 21:41] deekoder commented on #225
We will take a look into this in the next milestone. @twgraham we are wrapping up our current priorities first. I will close it and park it in future milestone. We will reactivate from future milestone after we are done with current priorities.

[2018-11-01 21:41] #225 closed

[2018-11-02 16:19] danflee commented on #253
@poornas thanks for the prompt response.

Let me clarify some more. The application I am working on allows specification of language and region. The language is being set in the Thread.CurrentThread.CurrentUICulture and is used for language display. The region is being set in the Thread.CurrentThread.CurrentCulture and is used for formatting date time and numerical values.

What I am seeing is tha

[2018-11-02 17:47] poornas commented on #253
@danflee, minio-dotnet sdk is just receiving a Forbidden httpstatus and returning it on this bucket.

Are you using minio server as the backend - and if so, can you tell me the release/commit ID? If you are using minio server, you could enable http trace by starting server with ```MINIO_HTTP_TRACE=/dev/stdout minio server ~/export```  If there had been a signature mismatch due to date/time differe

[2018-11-04 21:32] Cyrus-d opened #256 "PresignedPostPolicy generated URL throws (301) moved permanently error"
Hi,

I am trying to generate a URL  using 'PresignedPostPolicyAsync' to upload a file to AWS S3 using POST method.

The URL generated fine, however, I have noticed that the 'x-amz-credential' field contains invalid region 'us-east-1', the correct region for the bucket is 'eu-central-1' as I have set it in 'MinioClient'. could it be the reason for 301 error?

Code:

[code]
Could you please advise h

[2018-11-04 21:45] Cyrus-d commented on #256
I am closing this issue as the problem was the setting of the endpoint.

[2018-11-04 21:45] #256 closed

[2018-11-06 18:11] poornas commented on #253
@danflee, could you run minio server like this and attach server http trace for the sdk call against th-Th vs other cultures?
``` MINIO_HTTP_TRACE=/dev/stdout minio server ~/data ``` after changing ~/data to actual path

The region sent by client sdk should match that of the region minio server was started with.

[2018-11-06 22:09] danflee commented on #253
I ran the the code with

`_minioClient.SetTraceOn()`

What I saw mainly different in the request payload was the date formatting below on the Thai Culture

     {
       "name": "x-amz-date",
       "value": "25611106T210440Z",
       "type": "HttpHeader"
     }

versus the other Cultures

     {
       "name": "x-amz-date",
       "value": "20181106T210504Z",
       "type": "HttpHeader"
     }

S

[2018-11-13 22:38] justin-oj-orange opened #258 "Could not create SSL/TLS secure channel."
Just download the Minio .NET SDK Nuget Package, and started with the Play site and the samples verbatim but got the following error on attempt Client connection:

**Minio API responded with message=Unsuccessful response from server without XML error: The request was aborted: Could not create SSL/TLS secure channel.**

Internally we have come across this kinda of error before and it relates to .NET

[2018-11-13 23:29] poornas commented on #258
@justin-oj-orange, which version of .NET framework are you using? The latest minio .NET SDK version is 2.0.6. Is that what you are using?

[2018-11-14 00:01] justin-oj-orange commented on #258
@poornas Minio NUGET package was 2.0.6, using .NET Framework 4.6

[2018-11-14 20:53] poornas commented on #258
@justin-oj-orange, Restsharp sdk uses HttpWebRequest  internally, which might be causing the issue. At present, the work-around would be to set ```System.Net.ServicePointManager.SecurityProtocol```.

[2018-11-14 21:11] justin-oj-orange commented on #258
@poornas Doing a bit more research, this may purely be inconsistent .NET framework across dependencies. So the minio package 2.0.6 is .NET 4.6< , which is good, but its dependency of RestSharp, (min version 106.3.1), this version looks to be .NET 4.5.2 (that's the dll that's included). so the TLS1.2 is not added as default (it of course is supported just not default) .NET 4.6 its added as default,

[2018-11-14 22:00] poornas commented on #258
Restsharp [Readme](https://github.com/restsharp/RestSharp) still shows .NET 4.5.2

[2018-11-26 11:46] krisis commented on #254
@RichardMendelsohn I was not able to recreate the issue you describe above using `Minio 2.0.6` version of the package. I wrote a standalone C# console application that uploads a file present on my (Linux) system to a local Minio object server using `PutObjectAsync` SDK method. It works as expected.

To further analyse the issue you are facing, it would be helpful if you can,
- attach a small progr

[2018-11-29 20:00] deekoder commented on #258
Closing this as a working as intended. Please use workaround until further support is available from RestSharp/TLS offers these features.

[2018-11-29 20:00] #258 closed

[2018-12-14 21:26] petertiedemann opened #261 "C# SDK: How to determine if GetObjectAsync succeeded?"
When accessing an object with a key that does not exist, the stream provided by `GetObjectAsync` contains an XML error and does not throw and error when read, How should a caller avoid returning this XML error string in place of an actual string? I realize it is possible to call StatObjectAsync first, but that raises concerns about what happens if stat is called first, then before getobject a remo

[2018-12-18 09:26] nitisht commented on #261
fixed by #260

[2018-12-18 09:26] #261 closed

[2018-12-19 09:32] xmichaelx opened #262 "Get/Set Policy equivalent of setting bucket readonly in json"
Hey, I've recently migrated from Minio.NetCore 1.0.7 to Minio 2.0.6 and I've noticed that there is no longer PolicyType type and now everything is done through json.

I've previously used to set readonly policy on one bucket, what should I modify in the policy I get from the bucket to make it readonly?

And would it be possible to work on json deserialized into classess make changes on it and pass

[2018-12-19 10:06] harshavardhana commented on #262
https://gist.github.com/harshavardhana/3c3864bfdb917cbe0fe1b095bc7fa54a here is a list of canned policies which can be used.

We are deliberately doing it because canned policies didn't make much sense from an SDK point of view and requirements for other complex situations have arrived which canned policy does not allow. Since users wanted quite a few variations in their policy document it was nat

[2018-12-19 10:08] xmichaelx commented on #262
Thank you for quick response :)

[2018-12-19 10:08] #262 closed

[2018-12-23 17:31] leeroya commented on #238
For the dotnet project, I am using I used only the IP: Port configuration i.e. "127.0.0.1:9000".

[2018-12-24 11:44] krisis commented on #254
@RichardMendelsohn do you still see the issue in your setup? Could you provide a small program that would recreate the issue?

[2018-12-24 21:20] tburnett80 opened #263 "Example to enumerate Bucket does not work with DotNet core 2"
Using Minio 2.0.7  and trying to enumerate the contents of a bucket using an observable never returns or triggers next()

I can list buckets but not their contents.

Following the example, returns nothing.
[code]

Only returns the first item.
[code]

I would imagine there is an easier way to enumerate the contents of a bucket, or am I missing something?

[2018-12-25 19:11] tburnett80 commented on #263
I found what was missing from the example.

The observable should be awaited, otherwise it never completes.
After awaiting it consistently returns all the objects in the given bucket as expected.

[code]

[2018-12-25 19:11] #263 closed

[2018-12-25 22:26] AdmirR opened #264 "Better support for non Amazon services"
Hello,

I initialized a Minio client with all four constructor parameters ("endpoint", "accessKey", "secretKey" and "region") provided, tried doing a request and got an unauthorized exception, the authorization header was invalid.

When I looked at the request it was making I noticed that it added the "us-east-1" region in the authorization header, even though I had specified a different region.

[2018-12-27 16:32] #264 closed

[2018-12-28 16:10] AdmirR commented on #264
I noticed that you guys added a constructor overload for the V4Authenticator, but forgot to actually make use of that constructor in the MinioClient.CreateRequest function (line nr. 160).

[2018-12-28 17:09] krisis commented on #264
@AdmirR, sorry for missing that out. I will add that in a separate PR. Thanks for catching it.

[2019-01-04 00:17] #251 closed

[2019-01-08 15:06] LordMike opened #270 "Uploading zero-byte stream, with length -1 fails"
We have a piece of code that doesn't know how long the input stream is (compressed data), so we pass `-1` to Minios `PutObjectAsync`. This fails with the below exception

`Minio API responded with message=The XML you provided was not well-formed or did not validate against our published schema.`

[code]

I've been sending in zero-length `MemoryStream`s and can confirm that if I send in a one-byte

[2019-01-08 18:46] kannappanr commented on #270
@LordMike Thanks for filing this issue. We will take a look and get back to you.

[2019-01-08 20:13] poornas commented on #270
@LordMike,when you specify length as -1, we internally use s3 multipart API  since the stream size is unknown. However s3 multipart API does not allow 0 byte uploads, hence the MalformedXML error that you are seeing.

At the SDK level, we cannot fix this - your application needs to figure out the stream size or handle the error if -1 is passed as size for PutObjectAsync API on a zero byte stream

[2019-01-08 22:01] LordMike commented on #270
Thanks for being quick. Can we do a multipart upload ourselves using the Minio SDK? -- else the only option we have seems to be handling this error...

Or reading the first byte, if it didn't exist, then it was a 0 byte stream, and we can do a put using that size, and if it did exist, we create a new stream that wraps the first byte and then reads from the original stream again..

[2019-01-08 22:08] poornas commented on #270
@LordMike, the SDK does not provide multipart upload operation as an API call - however you could use the second approach to read the first byte and determine whether to call PutObjectAsync with 0 as size for a zero byte stream, or create a new stream that wraps first byte with original stream and pass it to PutObjectAsync with -1 as size.

[2019-01-08 22:14] LordMike commented on #270
Would it be possible for the Minio SDK to get this feature? .. I imagine others would need this as well.

[2019-01-09 07:18] harshavardhana commented on #270
@poornas if we see an EOF early with -1 then we can upload just the zero bytes with single part which is allowed in multipart uploads.

[2019-01-09 14:15] gerwim commented on #225
+1. Yes please, downloading large files is currently not possible (atleast 1GB+) because of this. The official S3 API supports this (as you can wrap the GetObjectAsync inside an using, e.g. https://docs.aws.amazon.com/AmazonS3/latest/dev/RetrievingObjectUsingNetSDK.html)

[2019-01-09 16:54] poornas commented on #270
@harshavardhana, yes we could do that.

[2019-01-11 07:00] MontyGvMC opened #272 "Minio Client SDK nugets Minio.Net and Minio.NetCore"
I have a question about the two existing .NET Client SDK packages/nugets:

- Minio
- Minio.NetCore

The [official download site](https://minio.io/downloads.html) shows both as available but on the nugets site [Minio nuget](https://www.nuget.org/packages/Minio/) has reached version 3 and was last updated yesterday whereas [Minio.NetCore nuget](https://www.nuget.org/packages/Minio.NetCore/) was last

[2019-01-11 18:08] poornas commented on #272
@MontyGvMC , Minio.NetCore is deprecated - Minio nuget can be used for both .NET Core and .NET framework projects

[2019-01-11 18:20] kannappanr commented on #272
@MontyGvMC Closing this issue as answered. Please feel free to reach out to us on slack at https://minio.slack.com

[2019-01-11 18:20] #272 closed

[2019-01-13 16:17] #270 closed

[2019-01-17 14:37] LordMike opened #273 "HTTP Proxy support"
Hi,

Last I checked, I wasn't able to locate any way to configure an HTTP proxy. Would it be possible to support this?

We have a use case where our software is run in arbitrary locations that may or may not be reachable by end users. If it's not reachable, there will usually be some form of proxy set up that we should use.

Mike.

[2019-01-18 00:47] kannappanr commented on #273
cc @poornas

[2019-01-18 03:15] wlan0 opened #274 "Latest release of minio-dotnet breaks mint"
in `minio/mint` if you run `docker build .` - the build phase for `minio-dotnet` breaks with the following errors

[code]

[2019-01-18 03:36] poornas commented on #274
https://github.com/minio/minio-dotnet/pull/275 will fix this

[2019-01-18 13:37] WolfspiritM opened #277 "Signature invalid if metadata contains two consecutive spaces"
Hi,

When using MetaData that contains two consecutive spaces the signature doesn't match with the calulcated server signature.

[code]

[code]

The minio server contains the following go function to create a signature based on signed headers.

[code]

The minio-dotnet library however calcucates the siganture without removing additional spaces.

If that is true, then this issue needs to be opened

[2019-01-18 15:00] kannappanr commented on #277
@WolfspiritM Thanks for filing this issue. We will test this out and fix it.

[2019-01-21 06:46] Etrimus commented on #272
Maybe it is need to mark [Minio.NetCore nuget](https://www.nuget.org/packages/Minio.NetCore) as deprecated - put this info in Nuget package description?...

[2019-01-21 06:47] poornas commented on #272
Sure, we will do so @Etrimus

[2019-01-23 14:59] LordMike opened #279 "Timeouts and cancellation on Async"
Hello,

I was reading through Minios code and I found this case, where I believe CancellationTokens are not applied correctly. In the code below, the provided CancellationToken is not sent to RestSharp, but only checked once (let's ignore the `StatObject` call for now), after the request has been started, but before the request is being awaited.

It's my impression that the common case for a cance

[2019-01-23 18:33] kannappanr commented on #279
@LordMike Thanks for your suggestions. We will take a look at them.

[2019-01-24 20:09] #277 closed

[2019-01-25 15:49] Wahid101 opened #281 "AWS SDK vs MINIO Client SDK"
Wasn't sure where was the best place to ask so I figured Id ask here. Is there any pro/cons to using minio-dotnet vs aws sdk or is it mostly personal preference since are they designed to work interchangeably?

[2019-01-25 23:15] poornas commented on #281
minio-dotnet implements S3 API and can work with any S3 compatible object store. There are a few differences that you might want to evaluate such as :
- Size of the nuget package - are you interested in S3 API only? AWS SDK includes APIs across their suite of products.
- Abstraction - minio-dotnet abstracts APIs such as multipart upload from the user, if you have a need for low level APIs then AWS

[2019-01-26 17:13] kannappanr commented on #281
@Wahid101 Closing this issue. Please feel to reach out to us if you have any other questions.

[2019-01-26 17:13] #281 closed

[2019-01-26 19:34] poornas commented on #279
@LordMike, thanks for bringing this up - cancellationtoken should be passed down to Restsharp. ExecuteTaskAsync api allows passing down context

[2019-01-28 09:45] #273 closed

[2019-01-29 19:12] deekoder commented on #254
@RichardMendelsohn  closing this as not reproducible. Please reactivate it and help us repro. Feel free to reactivate this bug anytime.

[2019-01-29 19:12] #254 closed

[2019-02-06 23:34] kannappanr commented on #279
@LordMike Can you please review PR #283?

[2019-02-07 11:13] #279 closed

[2019-02-07 13:33] antonchaika opened #285 "Support temporary credentials and X-Amz-Security-Token"
Hi,

I'm trying to use minio on windows servers. I've downloaded .NET SDK and found that there is no support of temporary credentials. I use [client grants](https://github.com/minio/minio/blob/master/docs/sts/client-grants.md) endpoint to retrieve temporary credentials with my signed JWT token from Identity Server 3 (supports OAuth2 and OIDC). But when I'm trying to pass temp `accessKey` and `secr

[2019-02-07 15:09] LordMike commented on #279
@kannappanr it _should_ work. I haven't tested it as there hasn't been a release with this in it :).

[2019-02-07 15:15] kannappanr commented on #279
Will try to make a release today.

[2019-02-07 17:48] harshavardhana commented on #285
@poornas this requires you to implement credentials handling like minio-go

[2019-02-07 20:11] antonchaika commented on #285
@harshavardhana, @poornas can I use AWS S3 .Net SDK for this case with Minio server?

[2019-02-07 20:56] poornas commented on #285
@antonchaika, yes you could use AWS S3 .Net SDK  to connect to minio server with temp. credentials. We are working on adding support for temp. credentials to minio .NET sdk

[2019-02-08 14:43] antonchaika commented on #285
Can you provide some sample code for `AmazonSecurityTokenServiceClient` usage with Minio server?

[2019-02-08 19:15] poornas commented on #285
@antonchaika,  the credentials need to fetched from STS as in this  example(https://docs.aws.amazon.com/AmazonS3/latest/dev/AuthUsingTempSessionTokenDotNet.html) . The S3Config to connect to minio server can be seen in minio docs [here](https://docs.minio.io/docs/how-to-use-aws-sdk-for-net-with-minio-server.html)

[2019-02-12 11:11] #285 closed

[2019-03-06 13:18] MontyGvMC opened #288 "Thrown exception types"
Working with the Minio .NET (3.0.2) I am running into a scenario where I have to react differently on different error cases (in relation with Minio).

I see that Minio.Exceptions holds a bunch of different exceptions. Unfortunatly it seems to be hard to distinguish between different error source when the exceptions are thrown.

I am running a background service receiving messages which start actio

[2019-03-06 13:49] MontyGvMC opened #289 "Setting X-Amz-Date on presigned url generation"
I am comming from this [StackOverflow question](https://stackoverflow.com/questions/54710199/usage-of-presigned-urls-in-a-e-g-angular-spa-blows-up-browser-cache) where I was recommended to open a new feature request on this topic.

As far as I understood the answers: setting X-Amz-Date (which seems to be available in minio.js but not in .NET client) could fix a problem with browsers caching (or ac

[2019-03-06 18:11] poornas commented on #289
@MontyGvMC, expiry date can be explicitly set if you are using the [PresignedPostPolicy API]((https://docs.minio.io/docs/dotnet-client-api-reference.html#presignedPostPolicy) call. You might want to use that instead of PresignedPutObjectAsync

[2019-03-06 18:22] harshavardhana commented on #289
We can take the date parameter in presigned put object as well minio-go already does this.

[2019-03-06 18:30] poornas commented on #289
yes,we can add request parameters to the api signature

[2019-03-06 18:34] poornas commented on #289
PresignedHeadObject and PresignedGetObject take query parameters, not PresignedPutObject in minio-go

[2019-03-06 19:07] poornas commented on #288
can you rerun your service with trace by setting minioclient.SetTraceOn() and post the response received for minio.RemoveObject...

[2019-03-07 08:28] MontyGvMC commented on #288
Sure, here it is

[code]

The last message in english means (twice): The given host is unknown. Of course because I have plugged out the LAN cable.

A suggestion for further improvements: mind using a logger to write traces instead (as it seems) writing directly into the console. This would allow us to copy paste from the log outputs. Had to type this from the screen since (for some reason) I was

[2019-03-07 23:29] poornas commented on #288
@MontyGvMC, as you can see from the trace, the HTTP response did not come with any headers or statu code - just the error message of "The given host is unknown". The sdk tries as much as possible to return a meaningful exception type, and in the event of failure to do so -wraps it into a MinioException class, which is the best we can do. In the situation as above, your application can use the Erro

[2019-03-08 12:06] MontyGvMC commented on #288
I fully understand that a partial/broken response is treated correctly since a partial response is still a response.

I am just wondering (since I haven't checked the minio .net code) where the partial response comes from? When the server is not connected. Just curious.

[2019-03-08 12:08] MontyGvMC commented on #289
@poornas Thanks for the hint. It's just that the upload urls aren't cached by the browsers anyway. So the only interesting thing (for me) would be able to set them in the get urls.

[2019-03-08 17:22] poornas commented on #289
@MontyGvMC, that's correct - the PresignedGetObjectAsync now allows you to pass a request date so the presigned get url can be unique for the object if your application uses the same request date. The next nuget package version should have this fix that just got merged.

[2019-03-08 18:04] poornas commented on #288
the httpclient would have tried to resolve the endpoint address and dns lookup would have failed. Hence the partial response when you unplugged the LAN cable.

[2019-03-08 18:10] kannappanr commented on #288
@MontyGvMC Marking this issue as answered and closing this issue. Please feel free to reopen the issue if you feel otherwise.

[2019-03-08 18:10] #288 closed

[2019-03-08 20:02] kannappanr commented on #289
PR #290 closes this issue

[2019-03-08 20:02] #289 closed

[2019-03-13 13:56] diegomvh opened #291 "DateTime.Parse Thrown Exception"
Hi,  i'm use minio on a project as a object store

When I try put some objecto on store the parsing of the response throws an exception on the `Last-Modified` HTTP hader:

"String was not recognized as a valid DateTime."

The reason seems to be the DateTime.Parse here:

https://github.com/minio/minio-dotnet/blob/c7857cc2904fcd71bfae60fe8a8108e8fc414bde/Minio/ApiEndpoints/ObjectOperations.cs#L805

[2019-03-13 20:17] kannappanr commented on #291
@diegomvh Thanks for filing this issue. PR #292 should fix this issue.

[2019-03-15 07:15] #291 closed

[2019-03-17 00:20] danwalmsley opened #293 "Upload and Download Progress"
Is it possible to show progress of and upload or download?

[2019-03-17 01:29] harshavardhana commented on #293
You can add a callback to the input stream which can add progress automatically as the stream is read.

[2019-03-21 08:48] MontyGvMC opened #294 "ListObjectsAsync broken?"
Good morning.

I am using Minio (dotnet) SDK 3.0.2 but this case is also the same in (the current) 3.0.8 version.

Since the SDK does not provide anything easy like that I tried my self to implement a function that returns a list of all keys in a bucket (at the given time it is called).

It looks like that (well, one problem is that the command line tool does not have async methods):

[code]

I en

[2019-03-21 13:10] ferdinandhuang opened #295 ".Net Framework API Controller cannot get response."
When I try to use Minio Client in my .Net framework project, it worked in Console project, but it cannot receive any response in WebAPI Controller.
I try to figure out what happened and i located at
MinioClient.cs :  line 357

`IRestResponse response = await this.restClient.ExecuteTaskAsync(request,cancellationToken);`

When I replace **await** to **Result**, it can worked. If i debug into the fun

[2019-03-21 18:04] poornas commented on #295
It is very well possible that you need to use .Wait() on your invocation of API call. If that doesn't solve your issue, please share a sample project that we can try out

[2019-03-21 19:09] poornas commented on #294
@MontyGvMC, are you running a console app?  Try using System.Diagnostics.Debug.WriteLine($"GetMinioBucketKeys completed and collected {bucketKeys.Count} bucket keys"); I used the sample example from the .NET sdk and see the keys listed correctly.
[code]
[code]

[2019-03-22 02:18] ferdinandhuang commented on #295
It doesn't work for .Wait() , it also hung up.
The test code just like this in a new webapi project's controller, and i think it's easy to reproduction:
`
            var minio = new MinioClient(minioUrl, key, secret);

            var buckets = minio.ListBucketsAsync();
            buckets.Wait();
            return Ok(buckets);
`

[2019-03-22 07:02] MontyGvMC commented on #294
Yes, it is a console application. I try to implement a console application (running in docker) which compares existing files on minio with a database in order to detect unreferenced left over files.

Note: I added an additional log line. The full source code how I try your example (still returning no entries in 3.0.8)

[code]

[2019-03-22 17:49] poornas commented on #294
Is your endpoint a minio server running locally? Are you able to list the objects using `mc client`(https://docs.minio.io/docs/minio-client-quickstart-guide.html)  from this "test" bucket outside your docker container. You might want to enable trace on the client - minio.SetTraceOn() and then run your program to see if the server response shows the objects in the ListBucketResult. You can also sta

[2019-03-22 18:17] poornas commented on #295
@ferdinandhuang, you might want to check this [example](https://docs.microsoft.com/en-us/aspnet/web-api/overview/advanced/calling-a-web-api-from-a-net-client) on using async calls within your web api controller - since ListBucketsAsync() is an async method, you will need to call this within an async method or if in a static method - use RunAsync().GetAwaiter().GetResult(); as in the example. I am

[2019-03-25 09:24] MontyGvMC commented on #294
Well, I tried to query the bucket using the minio client.

On the first try I couldn't list the buckets and files with the minio client due to the error message:

`mc: <ERROR> Unable to stat '[ALIAS]'. The access key ID you provided does not exist in our records.`

I cleared the mc config host table and recreated it with the exact same credentials. Then it worked to list the buckets and files with

[2019-03-25 21:24] poornas commented on #294
you will need to await the observable if you want to collect the items into a list as ListObjectsAsync is an async operation
[code]

[2019-03-26 21:11] deekoder commented on #238
Will address in the future. As mentioned earlier, we will reactivate this into current milestone when we are done with current priorities.

[2019-03-26 21:11] #238 closed

[2019-03-27 08:22] MontyGvMC commented on #294
That was it. Thank you very much.

[2019-03-27 08:22] #294 closed

[2019-03-27 20:28] poornas commented on #295
@ferdinandhuang , is this issue resolved for you?

[2019-03-27 23:42] kannappanr commented on #293
@danwalmsley closing this issue as answered. Please feel free to reach out to us at https://slack.min.io if you have further questions.

[2019-03-27 23:42] #293 closed

[2019-03-30 05:04] ferdinandhuang commented on #295
I'm sorry for it still not woring, so i chang the code to my project.

But it work will in .net core project.

[2019-04-03 15:11] banitt opened #296 "Problem with restsharp.dll dependency"
When using version 1.1.1 it says, that it requires RestSharp >= 105.2.3, but it doesn't work with newest version like 106.3.1.

[2019-04-03 19:26] kannappanr commented on #296
@banitt Can you upgrade to the latest version of the dotnet SDK?

[2019-04-04 06:37] banitt commented on #296
I can't since I am forced to use .Net Framework 4.5.2.

[2019-04-10 09:10] msgpacket commented on #296
I have the same problem with my .NET 4.7.2 desktop app.  Using RestSharp 106.6.9 (latest stable), calling something like in the sample:

`await m_Client.MakeBucketAsync("newBucket");`

throws "Method not found: 'Void RestSharp.RestRequest.set_XmlSerializer(RestSharp.Serializers.ISerializer)'."

[2019-04-12 17:13] ptr1120 opened #298 "UpdateMetadata during CopyObject issue: "The request signature we calculated does not match the signature you provided. Check your key and signing method.""
Hello,

basically the minio-dotnet client works great, but shouldn't it be supported to update the metadata of an object by  using the `CopyObjectAsync`? Doing so results in an `MinioException`:

[code]

Please see also the following test:

[code]

[2019-04-12 17:34] poornas commented on #298
@ptr1120 , this should work - we will need to check authorization headers sent by client against those used by the server to verify the client request, to understand the cause.

Could you attach client side trace and server side trace?
On client side, set ```minioClient.SetTraceOn()``` to enable trace and  ```MINIO_HTTP_TRACE=\path\to\logfile ./minio server ~/export``` to enable http trace.

[2019-04-13 16:36] ptr1120 commented on #298
Thank you @poornas. Interesting is that the same unit-test (also with the latest version of minio docker server) succeeds in Linux but not in Windows!

Server:
[code]

Client:
[code]

[2019-04-14 07:30] scale1 commented on #298
@ptr1120 , will try to repro this issue and get back to you

[2019-04-18 16:19] poornas commented on #298
@ptr1120, port is being stripped off the host header by underlying httpclient which leads to a mismatch between signature sent by client to that computed by server. There was a bug in dotnet corefx which was fixed last year (https://github.com/restsharp/RestSharp/issues/1085) - will have to dig further to pinpoint whether it is an issue with Restsharp / HttpClient in dotnet/corefx

[2019-04-22 18:21] pat-clevest commented on #296
It's a result of this commit on RestSharp that changed the data type of the "Serializer" property:
https://github.com/restsharp/RestSharp/commit/a8946d126211eb67bc1902dfb819c54d055c03e5

[2019-04-30 09:31] tinohager opened #299 "Disable duplicate nuget package"
Currently there are two packages on nuget but one i think is outdated.
https://www.nuget.org/profiles/minio

Add an info in the description or disable the package in the nuget management. For me it seems at first sight that the old package should be the new one because it is the core version.

[2019-04-30 10:08] nitisht commented on #299
Thanks for reporting @tinohager

[2019-04-30 14:57] tinohager opened #300 "ListObjectsAsync Alternative"
Hi,

Is an alternative Method available to get some Files of a bucket? The method `ListObjectsAsync` is very complex to implement. I also think that the implementation is wrong I don't see a `Task<>` as returning here anywhere. I search a method simular to this [ListingObjectKeysUsingNetSDK](https://docs.aws.amazon.com/AmazonS3/latest/dev/ListingObjectKeysUsingNetSDK.html)

[2019-05-08 05:27] poornas commented on #300
@tinohager, did you check out the ListObjectsAsync example [here](https://github.com/minio/minio-dotnet/blob/master/Minio.Examples/Cases/ListObjects.cs) ? Both IObservable and Task are comparable implementations - you can convert the IObservable to a Task if you want all the objects returned at once - refer BufferAllAsync function in  [this blog](https://blogs.msdn.microsoft.com/flaviencharlon/201

[2019-05-08 11:28] RonSijm opened #304 "ListenBucketNotification is not supported?"
min.io has client libraries:
https://docs.min.io/docs/dotnet-client-api-reference.html
https://docs.min.io/docs/golang-client-api-reference.html
https://docs.min.io/docs/python-client-api-reference.html
https://docs.min.io/docs/java-client-api-reference.html
https://docs.min.io/docs/javascript-client-api-reference.html

For some reason ListenBucketNotification is only missing from the .net package

[2019-05-08 17:10] tinohager commented on #300
@poornas I just don't have a simple method to return the content as an array without any additional code.

[2019-05-08 22:27] kannappanr commented on #304
@RonSijm We do not have it yet in `dotnet`. Please feel free to send a PR, if you can. We would love to have constributions from the community.

[2019-05-09 14:29] tinohager opened #305 "PutObjectAsync - The request signature we calculated does not match the signature you provided."
PutObjectAsync throw a error with files bigger as 5MB. If i remove some lines from my test file it works!
If i upload the same file via the webinterface MinIO Browser it also works fine.

[test1.txt](https://github.com/minio/minio-dotnet/files/3162601/test1.txt)
[minioclient.log](https://github.com/minio/minio-dotnet/files/3162599/minioclient.log)

[code]

[2019-05-09 14:47] tinohager commented on #305
If i upload the same file via the webinterface `MinIO Browser` it works fine.

[2019-05-09 15:06] tinohager commented on #305
I have uninstall the nuget package and reinstall it, now it works. It must be related to the current packages.

![image](https://user-images.githubusercontent.com/8215186/57464293-bb931300-727c-11e9-9f4d-3a598c0badd8.png)

[2019-05-09 15:29] kannappanr commented on #305
@tinohager Closing this as working as intended.

[2019-05-09 15:29] #305 closed

[2019-05-28 01:52] yuribsl opened #306 "The authorization header is malformed; the region is wrong; expecting 'us-east-1'"
I'm using the below code and getting the region error, i was getting this error when trying to upload a base64 image using C# MemoryStream.
Funny thing, 5 days ago i successfullly uploaded a image ( without using any streams, just setting a filepath in PutObjectAsync overload ) to the bucket, but i can't do it again, i don't remember if the code was different ( i don't think so ).

My code:

[2019-05-28 07:25] kannappanr commented on #306
@yuribsl Thanks for reporting this issue. Can you also please add more information to the issue like, which S3 server you are connecting? If `MinIO`, version of `MinIO` in use here etc.

Version of `minio-dotnet` SDK that you are using? What has changed between when it worked and now?

[2019-05-28 11:02] yuribsl commented on #306
Well i fixed it yesterday, i reinstalled SDK and removed a previous version of MiniO that was installed toghether with MiniO .net Core, i had reinstalled it before but for some reason it was back there.
I can upload now normal files and base64 files.
The error was only misleading.
Thanks for the attention anyway.

[2019-05-28 14:01] kannappanr commented on #306
@yuribsl Thanks for getting back to us. Closing this issue now.

[2019-05-28 14:01] #306 closed

[2019-05-29 14:34] yuribsl opened #307 "GetObjectAsync how to"
Hi, i don't know if this is the right place to ask this. But i have succesfully uploaded a file to a bucket and now i want to download it.
By using GetObjectAsync and setting filepath like this

`await minio.GetObjectAsync(_configuration["S3Bucket:bucketName"], "C:\\Users\\ybligorio\\Downloads", "myfile");
`
I get a corrupted pdf ( yes i downloaded directly from bucket and it's ok )

and using Fil

[2019-05-29 14:45] yuribsl commented on #307
Ok delete my post lol i was just passing the filename without pdf extension

[2019-05-29 17:37] kannappanr commented on #307
@yuribsl Can this issue be closed?

[2019-05-29 20:31] kannappanr commented on #307
@yuribsl Closing this issue. Please feel free to reach out to us on slack if you have further questions.

[2019-05-29 20:31] #307 closed

[2019-06-03 06:33] adityayenduri opened #308 "Sign Minio dll"
Hello Team,

Can you please sign the minio dll? As our project has strongkey and its not allowing to add minio dll.

Thanks in advance,
Aditya Y

[2019-06-03 06:44] harshavardhana commented on #308
We will take a look @adityayenduri - Thanks for opening an issue.

[2019-06-03 06:59] harshavardhana commented on #299
Its unfortunately not possible to fully delete, but we have unlisted all the releases under Minio.NetCore

Minio.NetCore has been long integrated into Minio

[2019-06-03 06:59] #299 closed

[2019-06-04 08:18] kannappanr commented on #304
@RonSijm Closing this issue now as we do not have enough cycles to get to it right away. Please feel free to send a PR. We will get to this issue once we are done with our higher priority tasks.

[2019-06-04 10:33] vikhar opened #309 "Bucket Notifications for Kafka, doesn't have metadata information in the event message"
We are using .Net client to upload object to a bucket in minio and listening the events at Kafka end point.

We can successfuly upload the files and receive events in kafka, howevr we are not receiving the metadata information in kafka event message, which we are passing in PutObjectAsync method.

Below is the .Net code sample to upload the files and corresponding event message we receive at Kafka

[2019-06-04 13:49] kannappanr commented on #309
Does the metadata get stored in `MinIO`, if yes, then I think this issue belongs in `minio/minio` repo. You can verify that by using `mc stat myminio/bucketname/object`, where `myminio` is the alias, `bucketname` is the name of the bucket and `object` is the object name. Can you also provide the `MinIO` version and the command you used to start `MinIO`?

[2019-06-04 15:24] vikhar commented on #309
When I am doing mc stat command, it says "Unable to stat `play/testbuckevivek/TestData9.zip`. Target `play/testbuckevivek/TestData9.zip` not found."

However I ensure that the object is there by manually looking at the browser and using mc ls command as well.

![image](https://user-images.githubusercontent.com/17875934/58891805-cff6ee00-870a-11e9-9322-f50fb74d3d6f.png)

Version: I am using **.net

[2019-06-04 16:17] Praveenrajmani commented on #309
@kannappanr No it is not a MinIO issue. It was working with minio-py

[2019-06-05 05:39] vikhar commented on #309
Hi @kannappanr @Praveenrajmani  Can we have a quick working session, to ensure I am not using anything wrongly and it indeed is an issue. This will give overall clarity as well on where the issue is actually.

[2019-06-05 06:22] harshavardhana commented on #309
The problem is in the library is not doing a correct job at handling metadata, it is expecting that as a user you should add "X-Amz-Meta" as part of the key name when providing metadata. Instead of adding it proactively which other libraries already do.

So as a workaround @vikhar you can simply do the following modification and it will work.

[code]

This is indeed a bug in the library we should

[2019-06-05 06:54] vikhar commented on #309
Cool, let me try that.

[2019-06-05 09:20] vikhar commented on #309
@harshavardhana It worked, I am moving ahead with this workaround for now, please let me know once the actual issue is fixed.
Thanks

[2019-06-08 02:07] kannappanr commented on #295
Closing this issue as stale.

[2019-06-08 02:07] #295 closed

[2019-06-12 16:54] DynamicOperationsFacilitator opened #313 "MinioClient generates a lot of connections in TIME_WAIT"
I ran into some stability problems while listing and downloading metadata from one of our services using Minio. I've traced it down to the RestSharp dependency in the minio-dotnet client. I've added a comment regarding this in an existing issue in the RestSharp repo https://github.com/restsharp/RestSharp/issues/1322

To reproduce issue I've made two equivalent scripts for .net core 2.2 using the m

[2019-06-12 17:09] DynamicOperationsFacilitator commented on #313
Using dotnet core 2.1or the images yields the same results.

[2019-06-13 04:28] kannappanr commented on #313
@DynamicOperationsFacilitator Thanks for reporting this issue. We will take a look at it.

[2019-06-15 10:24] dsonjohn opened #314 "can not set download json policy for local host in minio using .net core sdk"
i dont know how set policy json for set download policy to bucket. how i set "resource" and "action" parameters?

[2019-06-16 02:26] kannappanr commented on #314
@dsonjohn You can do something like

[code]
where `mybucket` in the bucket name

[2019-06-16 05:47] dsonjohn commented on #314
i need to set this fields for localhost like this : localhost:9000/mybucket. how can i do it?
how i set fields?
for example i tried "Resource": [
        "localhost:9000/mybucket/*"
      ]
but it dont work!

[2019-06-16 18:36] kannappanr commented on #314
You can use https://awspolicygen.s3.amazonaws.com/policygen.html to generate the policy.

`Resource` here should be something like `"arn:aws:s3:::mybucket/*"` It is called `Amazon Resource Name` . Here is the description about it in the link that I have posted above
[code]

[2019-06-17 23:07] kannappanr commented on #314
@dsonjohn Closing this issue as answered. Please feel free to re-open the issue if you feel otherwise

[2019-06-17 23:07] #314 closed

[2019-06-24 03:17] codema2015 opened #316 "minio restfull api"
with asp.net , how to use restfull api?

[2019-06-24 18:33] kannappanr commented on #316
we have examples at https://github.com/minio/minio-dotnet/tree/master/Minio.Examples . They are not specific to ASP.NET. I found this example that talks about using AWS .Net SDK with asp.net
https://www.codeproject.com/Articles/874149/Store-Files-in-Amazon-S-using-AWS-SDK-in-ASP-NET-M

replacing AWS SDK with Minio SDK should be staright forward. Please let us know if you have further questions.

[2019-06-25 13:12] codema2015 commented on #316
thanks

[2019-06-26 03:21] codema2015 opened #317 "how to config server？"
when install in windows, how to config server？
1：how to set server ports？
2：how to set server ip?
3：how to start  especial ip? Prohibit other IP。

[2019-06-26 05:23] kannappanr commented on #317
PTAL https://www.youtube.com/watch?v=dIQsPCHvHoM

The video here is for Linux, but it is pretty similar in windows also. Please reach out to us on slack at https://slack.min.io for questions like these.

[2019-06-27 21:14] kannappanr commented on #317
@codema2015 Closing this as answered. Please feel free to reach out to us on slack.

[2019-06-27 21:14] #317 closed

[2019-06-28 15:14] harshavardhana commented on #313
This perhaps because dotnet client is not able to effectively use keep-alive

[2019-06-30 03:44] kannappanr commented on #316
@codema2015 Closing this issue as answered. Please feel free to reach out to us if you have further questions.

[2019-06-30 03:44] #316 closed

[2019-07-07 11:16] Roll4D6 commented on #182
Why the issue is closed? I think it makes sense to extract an interface from the MinioClient. As @Disturbing said it would make easier to mock MinioClient and easier for dependency injection

[2019-07-25 01:03] DouglasMarsh opened #321 "SignatureDoesNotMatch when port is 80"
I've discovered an issue with using the minio dotnet client when connected to a minio server over port 80.
The signature generated by the client sets host header using the following code:
`SetHostHeader(request, client.BaseUrl.Host + ":" + client.BaseUrl.Port);`
This is V4Authenicator.cs: line 114
The issue is, the server doesn't seem to include the port number with host resulting in a signature m

[2019-07-25 14:35] kannappanr commented on #321
@DouglasMarsh Thanks for reporting the issue. We will take a look and get back to you.

[2019-07-25 18:38] poornas commented on #321
@DouglasMarsh, are you running minio behind a proxy? If so - please check if  the proxy is overwriting host header.

With minio server running on port 80, not able to repro the bug that you see.

[2019-07-26 22:31] kannappanr commented on #309
ping @Praveenrajmani

[2019-07-30 22:27] DouglasMarsh commented on #321
yes minio is behind a nginx ingress running  kubernetes.
I will check if the ingress is overwritting the host header

[2019-08-07 10:06] ChipRadon opened #325 "Deadlocks due to ConfigureAwait(false) not used in ExecuteTaskAsync method"
We are experiencing deadlocks because there is no .ConfigureAwait(false) used in method call:
IRestResponse response = await this.restClient.ExecuteTaskAsync(request, cancellationToken);
https://github.com/minio/minio-dotnet/blob/master/Minio/MinioClient.cs#L367

Relates to #219

[2019-08-07 11:40] nitisht commented on #325
Thanks for reporting @ChipRadon we'll take a look

[2019-08-07 18:31] #308 closed

[2019-08-08 09:04] tinohager opened #326 "Repair PackageIconUrl"
The `PackageIconUrl` in the `Minio.csproj` is invalid, no logo is visible on [nuget.org](https://www.nuget.org/packages/Minio/)

https://github.com/minio/minio-dotnet/blob/master/Minio/Minio.csproj#L26

[2019-08-08 16:28] kannappanr commented on #326
@tinohager Thanks for reporting will take a look.

[2019-08-09 06:45] #326 closed

[2019-08-09 17:23] poornas commented on #321
ping @DouglasMarsh

[2019-08-10 09:47] ptr1120 commented on #225
Please consider to reopen this issue, because for the minio main use case it seems to have a high priority to support downloading files async and be able to stream files without loading the whole content into memory. A closed issue does not support fixing this in near future.

[2019-08-16 14:42] itssimple opened #329 "Cannot pass meta data with PutObjectAsync"
In the code for `PutObjectAsync`, the argument `metaData` is always set to an empty dictionary.
So no matter what is put in it, will be replaced with an empty one.

https://github.com/minio/minio-dotnet/blob/77925452a4a1793004c2fa47e5e7b8202a98701c/Minio/ApiEndpoints/ObjectOperations.cs#L221-L228

[2019-08-16 14:43] itssimple commented on #329
If I actually bothered to read more than 30 columns, I would also see that you pass the old `metaData`-argument into the new dictionary..

[2019-08-16 14:43] #329 closed

[2019-08-22 13:35] GambitKZ opened #331 ""CopyObjectAsync" gives an error with Server Side Encryption"
The version of the package which I use is 3.1.1.

I'm using Server Side Encryption when I'm saving the object.
The Server Side Encryption object is generated by following command:
[code]
and later used everywhere for this object.

It works perfectly fine with Put/Get/Stat methods, but as soon as I try to use "Copy" command, by putting the object above as a source and destinations as:
`await minio.

[2019-08-23 08:21] danilonet opened #336 "Error uploading large files to MinIO server"
## Expected Behavior
upload successful

## Current Behavior
MinIO API responded with message=The request signature we calculated does not match the signature you provided. Check your key and signing method.

## Steps to Reproduce (for bugs)
c# client, verson 3.0.12
latest docker server
this is my code:

[code]

where:
bucketName : "patients"
stream : the resulting stream from an upload to a asp.ne

[2019-08-24 10:32] kannappanr commented on #331
You are supposed to use SSECcpy PTAL at https://github.com/minio/minio-dotnet/blob/1c5bf0ed14909b6ca7f6ba4fa4b6d4da929b5802/Minio.Examples/Program.cs to learn how it should be used

[2019-08-24 10:34] kannappanr commented on #331
Closing this issue as answered. Please feel free to reach out to us at https://slack.min.io for such questions

[2019-08-24 10:34] #331 closed

[2019-08-27 13:18] antonchaika commented on #325
Is there any update on this?

[2019-08-29 10:25] aloysiustany opened #332 "Bucket notification for webhook"
Is there an example for how to SetBucketNotification to a webhook using the dotnet client ?

[2019-08-29 11:36] kannappanr commented on #332
@aloysiustany Please look at https://docs.min.io/docs/minio-server-configuration-guide.html and https://docs.min.io/docs/minio-bucket-notification-guide#webhooks to setup webhook on MinIO.

When MinIO starts, it prints ARN corresponding to the webhook target. You can use that ARN and look at the example at https://github.com/minio/minio-dotnet/blob/master/Minio.Examples/Cases/SetBucketNotification

[2019-08-30 04:06] aloysiustany commented on #332
@kannappanr Thanks. I want to also know what should be the structure of my webhook API ? I believe it should be a POST API and what are the headers and body content that I should expect ?

[2019-08-30 05:23] Praveenrajmani commented on #332
@aloysiustany yes its a Post API - You should receive an event json for a non-nil body
[code]

There will be a ping with an empty/nil body before an event. You could ignore those empty POSTs ( with empty body)

[2019-08-30 06:31] aloysiustany commented on #332
thanks @Praveenrajmani

[2019-08-30 08:43] kannappanr commented on #332
@aloysiustany closing this issue as answered. Please feel free to reach out to us at https://slack.min.io if you have further questions.

[2019-08-30 08:43] #332 closed

[2019-09-03 17:24] #325 closed

[2019-09-06 08:04] SpeedPing commented on #321
This also happens when using a different RestSharp version. Using RestSharp v106.5.0 or higher, the same signature mismatch error is returned for multipart uploads. Tested on dotnet core 2.2.

[2019-09-06 21:51] poornas commented on #321
@SpeedPing, can you turn on http tracing for minio server by running `mc admin trace -v -a myminio-alias`  and run minio-dotnet sdk with client.SetTraceOn() and share the output? We are not able to repro this on linux running .netcore examples from [here](https://github.com/minio/minio-dotnet/blob/master/Minio.Examples/Program.cs) with endpoint at port 80. Are you using nginx as well? If so, make

[2019-09-07 20:22] SpeedPing commented on #321
Tested on 2 completely different networks&machines with local and remote setup, same outcome.

Steps to reproduce on windows:
1) Create dot netcore 2.2 console project
2) Reference latest minio-dotnet
3) Reference latest RestSharp
4) Invoke PutObjectAsync with a stream and size above 5 Mb
5) Wait for results

mc admin results:
[fail.txt](https://github.com/minio/minio-dotnet/files/3586997/fail.txt

[2019-09-11 13:17] SpeedPing commented on #321
@poornas Can you validate this issue?

[2019-09-12 03:33] poornas commented on #321
@SpeedPing , was not able to repro this issue with the latest 3.1.4 version. Are you able to run the sample [project](https://github.com/minio/minio-dotnet/blob/master/Minio.Examples/Minio.Examples.csproj) successfully?  Just change the endpoint and credentials to your local minio server and test your upload against that.

[2019-09-22 01:10] harshavardhana commented on #336
Moved @Praveenrajmani

[2019-09-25 15:38] cklogs opened #338 "Using CopyToAsync when copying stream from GetObjectAsync"
Hello.

I want to follow best practices and use async when copying from the Stream to MemoryStream in the below code block, but the following will occasionally hard crash my application with the following error:

[code]

My ideal solution.

[code]

What I'm doing right now.

[code]

I noticed also that none of the example code used CopyToAsync and that perhaps this is required.

Please let me know

[2019-09-25 17:02] kannappanr commented on #338
@cklogs We will take a look at this and get back to you.

[2019-09-25 23:22] cklogs commented on #338
@kannappanr Thanks for the speedy response!

[2019-09-26 02:29] poornas commented on #338
Thanks for raising this issue @cklogs, the socket seems to be closing here before the response is fully read for the example snippet posted above.

If the underlying GetObjectAsync implementation is changed to use stream.CopyToAsync() - it causes ArgumentOutOfRangeException unless the CopyToAsync(stream, streamsize) variant  is specified both in the API call and the invocation on the client side.

[2019-10-01 19:01] kannappanr commented on #338
@cklogs Closing this issue based on the above comment. Please feel free to reach out to us if you have further questions. You can also reach out to us at https://slack.min.io.

[2019-10-01 19:01] #338 closed

[2019-10-04 15:54] cocapasteque opened #339 "Minio not working when I have special characters in access key."
Hello,

I noticed that minio client would send me an invalid presigned url if I have special characters in my access key. After a little bit of research I found that there was [a PR to fix this](https://github.com/minio/minio-dotnet/pull/221). But the changes from this PR got removed with the very next commit.

I can upload files to minio but when trying to access them with a presigned url I get t

[2019-10-04 18:14] StephanyBatista opened #340 "HTTP Head extremely slow"
c# client, version 3.1.4.0
latest docker server
ASP.NET Full Framework, version 4.6.1

We are experiencing a slowdown with min.io and we find out throut Application Insights that this slowdown is always related to HTTP Head as shown below, but de HTTP Get is fast

![image](https://user-images.githubusercontent.com/6475229/66229810-a9dd5c80-e6b0-11e9-88d3-ddc7355e1aca.png)

Analyzing the min.io cod

[2019-10-04 18:32] poornas commented on #340
The StatObjectAsync is required to check if object exists - this should be quick. Can you turn on tracing on server side with mc client - `mc admin trace myminio-alias --verbose --all' and paste the http trace?

[2019-10-04 18:48] StephanyBatista commented on #340
Thanks for the help, I will ask staff who maintain the server.

But for me to understand, what is the purpose of checking the file if I will get after it?

[2019-10-04 18:59] poornas commented on #340
The GetObjectAsync variant with filename in arguments requires it @StephanyBatista , to determine the object size. Is your application using the stream callback variant of this function?

[2019-10-04 19:05] StephanyBatista commented on #340
Yes,

[code]

[2019-10-04 19:20] poornas commented on #340
@StephanyBatista, are you able to download the object using this [example](https://github.com/minio/minio-dotnet/blob/master/Minio.Examples/Cases/GetObject.cs) after changing endpoint and creds in Minio.Examples project?

[2019-10-04 19:38] StephanyBatista commented on #340
Your code for me the only difference is the "await".

This will improve?

Sorry if I did not understand

[2019-10-04 20:02] kannappanr commented on #339
@cocapasteque Thanks for filing this issue. We will take a look and get back to you.

[2019-10-04 20:23] poornas commented on #340
Can you post a simple reproducer project - you may be blocking on the main thread. Also, please post the server side trace. Were you able to encounter the same issue on the example project?

[2019-10-07 10:21] Reza-Noei opened #341 "how to create a temporary assumerole Token in Minio using Amazon S3 Api"
Im working minio using .NET application which is use Amazon.S3 Library to access to Minio.

I want to create a temporary token for my clients:

I was reading this page:
https://github.com/minio/minio/blob/master/docs/sts/assume-role.md#authparams

so it says that i must send a request to my minio api e.g. :
http://minio:9000/?Action=AssumeRole&DurationSeconds=3600&Version=2011-06-15&Policy={"Versi

[2019-10-08 14:15] kannappanr commented on #341
@Reza-Noei You will have to take a look at the example. You will have to get the temporary credentials from MinIO first and assuming that you have it already, then you can use that

DId you get a chance to look at the AWS .Net documentation

https://docs.aws.amazon.com/code-samples/latest/catalog/code-catalog-dotnet-example_code-STS.html

[2019-10-08 16:11] sebastianbk opened #342 "Both spaces and pluses are serialized to pluses in the .NET SDK"
Hello,

I am making use of the Minio SDK for .NET together with the [Minio Gateway for GCS](https://docs.min.io/docs/minio-gateway-for-gcs.html) and, in the beginning, everything was working flawlessly. I really appreciate how easy it is to get started with and how well it generally works.

However, I have come across an issue that's causing quite a lot of trouble for me. When using the `ListObjec

[2019-10-08 16:26] harshavardhana commented on #342
Yes we need to fix this.. Thanks for reporting @sebastianbk

[2019-10-08 17:03] vadmeste commented on #342
The issue should be fixed after releasing minio-go and updating it in minio/minio. I am happy to test gateway S3 & Azure to be sure.

[2019-10-08 17:12] harshavardhana commented on #342
Here it's gcs gateway - I think the issue is in dotnet SDK

[2019-10-08 17:15] vadmeste commented on #342
My bad, yes.. GCS gateway doesn't use minio-go

[2019-10-08 20:33] sebastianbk commented on #342
Wauw, thanks for the fast response on this issue. Your commitment is really inspiring!

Would you be able to offer a timeline for when the fix could be released?

[2019-10-08 21:06] harshavardhana commented on #342
No timeline @sebastianbk but soon.

[2019-10-09 06:58] sebastianbk commented on #300
@tinohager If you use `System.Linq`, you can the following:

[code]

Doing so, you can treat the results as an array.

[2019-10-10 12:59] sebastianbk commented on #342
Let me know when you'll release this. I am desperate to make use of it! 😃

[2019-10-10 14:24] cocapasteque commented on #339
Downloaded the repo on my local machine and replacing this line in V4Authenticator.cs (line 298)):

    requestQuery += "X-Amz-Credential="
                + this.accessKey
                + Uri.EscapeDataString("/" + this.GetScope(region, signingDate))
                + "&";

With this :

    requestQuery += "X-Amz-Credential="
                + Uri.EscapeDataString(this.accessKey + "/" + this.Ge

[2019-10-10 22:52] #339 closed

[2019-10-11 00:11] kannappanr commented on #300
@tinohager Closing this issue based on the workaround provided above.

[2019-10-11 00:11] #300 closed

[2019-10-11 00:14] #342 closed

[2019-10-21 03:07] datttit commented on #336
thank you so much!

[2019-10-24 09:02] Sergey-Terekhin opened #347 "Impossible to create nested buckets via dotnet client"
Hello!
We try to create nested buckets like directory tree:
[code]
In minio web interface it is possible to do by setting bucket name via slash (`/`) like `parent/child1/child2`
But then we try to do the same via dotnet client we receive validation exception:
[code]

[2019-10-24 09:06] nitisht commented on #347
@Sergey-Terekhin you need to create the bucket `parent` and then create prefixes like `child1/child2/` while uploading objects

[2019-10-24 09:37] nitisht commented on #347
yes like this

[code]

[2019-10-24 09:49] kannappanr commented on #347
@Sergey-Terekhin closing this issue as answered. Please feel free to reach out to us at https://slack.min.io for such questions

[2019-10-24 09:49] #347 closed

[2019-10-28 15:06] StephanyBatista commented on #340
Hi

We discovered the problem. I was saving many files in the same folder. More than 750k files.
After I spread that files to others folders (Year/Month/Day/Hour the problem ended.

[2019-10-28 15:06] StephanyBatista commented on #340
Hi

We discovered the problem. I was saving many files in the same folder. More than 750k files.
After I spread that files to others folders (Year/Month/Day/Hour the problem ended.

[2019-10-28 15:06] #340 closed

[2019-10-28 17:17] StephanyBatista opened #348 "MC Share for dotnet client"
Hi,
I saw the command mc share that share files by a time through a link. I did not find this for dotnet client.
Sorry if exists and I did not find

[2019-10-28 17:19] poornas commented on #348
https://docs.min.io/docs/dotnet-client-api-reference.html#presignedGetObject is what you are looking for

[2019-10-28 17:37] StephanyBatista commented on #348
Ok, thanks!

[2019-10-28 17:37] #348 closed

[2019-10-29 20:35] thiagodsign opened #349 "Some files dit not understand by min.io"
Hi,

![image](https://user-images.githubusercontent.com/31048708/67805312-24f32200-fa67-11e9-8000-4157c6c5f238.png)

In the image above, only exists pdf files, but when I upload the file by a app that uses client dotnet, the min.io does not understand that the file is a pdf. But when I upload the file by the min.io, it understand the file as pdf.

What do I need to do so that the min.io can unders

[2019-10-29 20:44] poornas commented on #349
@thiagodsign, you could try the PresignedPostPolicyAsync API call where you can set the content type - https://docs.min.io/docs/dotnet-client-api-reference.html#presignedPostPolicy instead of the PresignedPutObjectAsync call

[2019-10-30 17:39] kannappanr commented on #349
@thiagodsign Closing this as answered. Please feel free to reach out to us if you have further questions

[2019-10-30 17:39] #349 closed

[2019-11-12 10:31] otmanel31 opened #350 "InvalideEndpointException .net core 3"
Hi,

I'm trying to connect to remote minio using .net core sdk and got "http://my-ip-address:9000/: No path allowed in endpoint.: Minio.Exceptions.InvalidEndpointException: Minio API responded with message=No path allowed in endpoint."

It works well using Java SDK but not with .NET CORE sdk 3. Any hints ?

[2019-11-12 10:57] otmanel31 commented on #350
I had a piece of code as example below .... when i try to connect to my remote minio that didn't work ... but for play.min.io .... ([as describe in this tutorial)](https://docs.min.io/docs/dotnet-client-quickstart-guide.html) that works ....

[code]

[2019-11-12 10:59] otmanel31 commented on #350
That works by removing "http:// " prefix

[2019-11-12 10:59] #350 closed

[2019-11-21 11:07] tinohager commented on #300
@sebastianbk It not work in my test case. with .net 4.7.2

[2019-11-25 21:49] xav-stargate opened #351 "How to download multiple files ?"
Hi
I would like to know if I can to download multiple files with only 1 request ?

Thanks everyone

[2019-11-27 17:43] harshavardhana commented on #351
There are no bulk downloads with single request in S3 API, you call GetObject for each object. You may call each GetObject in parallel.

Closing this issue as answered. Please join us on https://slack.min.io for questions like these.

[2019-11-27 17:43] #351 closed

[2019-11-29 08:39] nerkapawel opened #352 "Add/Remove/List User and Change password"
Hi,

I have problem, because i dont see any method in code which allow me to execute add/remove list user. I need to do this via .net app and i dont have access to machine with minio by ssh (so i can't execute commands e.g. by mc.exe)

Is there any way to do this by simple http requests??

[2019-11-29 09:18] harshavardhana commented on #352
No, you need to use `mc` for administrative tasks such as add, remove, list user.

[2019-11-29 09:18] #352 closed

[2019-12-04 16:24] encrypt0r opened #353 "Document that custom metadata needs a "x-amz-meta-*" prefix"
hi, It would be very helpful if somewhere in the documentation it clarified that custom metadata on an object needs to start with "x-amz-meta-". I will send a PR if you think it's a good idea.

[2019-12-04 22:25] kannappanr commented on #353
@encrypt0r Please feel free to send a PR

[2019-12-05 05:21] encrypt0r opened #355 "Append data to object"
Is there any way to append data to an existing object?

[2019-12-05 06:05] poornas commented on #355
S3 API doesn't allow appending data to existing object. You can overwrite the object though

[2019-12-05 06:15] harshavardhana commented on #355
Closing this as out of scope ..

[2019-12-05 06:15] #355 closed

[2019-12-12 14:54] #353 closed

[2019-12-12 14:55] kannappanr commented on #309
closing this issue as https://github.com/minio/minio-dotnet/pull/356 has been merged

[2019-12-12 14:55] #309 closed

[2019-12-16 09:15] mzhou2018 opened #357 "Limit speed?"
is it possiable to limit the uploading/downloading speed?

thank you.

[2019-12-16 15:23] kannappanr commented on #357
@mzhou2018 No, not within the dotnet SDK. Please reach out to us at https://slack.min.io for such questions in the future

[2019-12-16 15:23] #357 closed

[2019-12-20 10:29] lejsekt opened #359 "Select object content"
Hi,
do you plan to add select object content to the .NET API as well? Is there already any timeline for that? Thank you for the info

[2019-12-20 12:25] nitisht commented on #359
Yes, there are plans to implement @teddy108 , there is not ETA as such, but it will be available soon

[2019-12-20 19:12] alirezaseif28 opened #360 "url permanent"
hi.
how Set Policy in c#
To have a permanent Url.
Thanks

[2019-12-20 23:18] kannappanr commented on #360
@alirezaseif28 PTAL the `SetPolicy` example given in https://github.com/minio/minio-dotnet/blob/master/Minio.Examples/Cases/SetBucketPolicy.cs

The policy you want to use is

[code]

Not sure if this satisfies your requirement.

[2019-12-21 08:31] alirezaseif28 commented on #360
ok
thanks

[2019-12-21 08:31] #360 closed

[2019-12-26 10:42] aevitas opened #361 "Canned ACLs erroneously get prefixed with x-amz-meta"
Hello,

I realize that the Minio client is designed for Minio, but I'm opening this issue because I believe this affects the S3 compatibility of the library. I have been using the Minio Client with DigitalOcean Spaces for over half a year now, and it's been working fantastic, until #356 which broke public accesss for `PutObjectAsync` on DO.

DigitalOcean Spaces has some special treatment for what

[2019-12-26 10:56] nitisht commented on #361
Thanks @aevitas we'll take a look

[2019-12-26 20:46] #361 closed

[2019-12-31 07:37] ElderJames opened #363 "Instrument with DiagnosticSource"
Using diagnostics allows users to get more runtime event data, which is helpful for distributed tracking systems.

HttpClient has provided support for diagnostics.I find the `LogRequest` method in MinioClient is used to output some logs about minio, we can also send them to DiagnosticSource.

Diagnositics doc :
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/sr

[2019-12-31 17:54] kannappanr commented on #363
@ElderJames Please feel free to send a PR

[2020-01-01 03:07] ElderJames commented on #313
We can use HttpClientFactory to create HttpClient in MinioClient or cache the HttpClients.

[2020-01-02 20:22] lucius-the opened #364 "Errors when uploading many files at once"
I'm testing minio with .net.
Minio is installed on a CentOS 8 VM with (2 CPU, 4 GB RAM) and given a 4 TB mount to use for storage.

I'm using minio-dotnet client to upload a little under 20,000 files.
I'm using 10 tasks, runing in parallel, each uploading it's slice of the entire set of files.
In each task I'm doing `Await mc.PutObjectAsync()` in a loop over a set of files.

After a while, I regul

[2020-01-02 20:26] lucius-the commented on #364
I'm using:
- minio server version 2019-12-30T05:45:39Z
- Minio 3.1.8 client from NuGet

[2020-01-02 20:35] lucius-the commented on #364
Ok I think I found something..
netstat doesn't show a problem at the server side - but it DOES show a huge problem at the client side. Lots of connections in TIME_WAIT. Why ?

Any chance you are using httpclient (improperly, by not reusing it) ?

[2020-01-02 20:41] lucius-the commented on #313
Run into the same problem, issue #364
You definitely need to reuse HttpClient.

Read more: https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/

[2020-01-11 20:36] Vfialkin opened #368 "StatObjectAsync is called on any GetObjectAsync then result is parsed but ignored"
Every call to GetObjectAsync results in a call to StatObjectAsync but we do don't return Stats data back.

(https://github.com/minio/minio-dotnet/blob/master/Minio/ApiEndpoints/ObjectOperations.cs)

**Problems:**
1) Its not obvious, even in your own examples you call to  StatObjectAsync before GetObjectAsync to verify that object exists but its not necessary
(https://docs.min.io/docs/dotnet-client

[2020-01-13 09:06] kannappanr commented on #368
@Vfialkin Thanks for filing this issue. We will take a look and get back to you. Please feel free to send a PR

[2020-02-02 00:10] #359 closed

[2020-02-03 06:28] KyleGobel commented on #225
Is this still planned?  I thought it was strange when I first saw to access the stream you had to provide a callback, i guess that's just because of RestSharp?

IMO this makes the client library pretty limiting.

[2020-02-05 03:59] tonyqus commented on #313
Hi, has this issue been resolved? This issue may potentially make .net program unstable.

[2020-02-05 07:44] albertich opened #371 "MakeBucketAsync returns deserialization exception if BucketName is null"
Due to a configuration error in my application, null was passed to the MakeBucketAsync method in the BucketName parameter instead of the correct value.

I think in this case, the client should report that the parameter contains the wrong value, but instead received an error:

[code]

[2020-02-06 02:03] harshavardhana commented on #304
Re-opening since we have a new PR #370

[2020-02-21 16:56] tomgruszowski commented on #336
Should this be filed as a new issue to increase build dependencies? The current RestSharp dependency (106.3) is 2 years old. Tried manually building the minio-dotnet solution with updated references and problem still persists at runtime (when using .Net Core 3.1 at least). Can anyone suggest a workaround (when using current RestSharp)?

[2020-02-21 18:34] ngbrown opened #372 "CopyObjectAsync is much slower than mc tool"
In `CalculateMultiPartSize`, which is triggered if the source is over 5 GiB, it appears the copy is made to maximize the number of parts (which is 10,000), bounded by the minimum part size (5 MiB).

https://github.com/minio/minio-dotnet/blob/b7e7adff75bfe63842063baa6b0f46b1054d0957/Minio/Helper/utils.cs#L235

On the other hand, the `mc` command line copies with much fewer parts.  It seems to optim

[2020-02-21 21:51] kannappanr commented on #372
@ngbrown Thanks for filing this issue. As far as `copyobjectpart` is concerned, I agree with you since the data is already in the backend. We can use 5GB part size.

[2020-02-21 22:04] ngbrown commented on #372
The go client seems to do it quite a bit differently by getting the number of parts first:

https://github.com/minio/minio-go/blob/8e3928466d18a04caf35a76a0f4a41d65ab1c9fc/api-compose-object.go#L525

I did start a branch to use be able to use different minimum part sizes.  It's not tune-able like I suggested, but it is a lot faster.

https://github.com/ngbrown/minio-dotnet/commit/7f2acd121d22dd59e

[2020-02-21 23:06] poornas commented on #372
@ngbrown, the reason mc is much faster than dotnet SDK here is because minimum part size used by mc is 128MiB vs the much lower 5MiB on dotnet SDK. We can make the part size configurable so that you can optionally bump it up if your network can handle it.

[2020-02-21 23:48] kannappanr commented on #372
@ngbrown, we can set the part size in the case of `CopyObjectPart` to `5GiB` and the `PutObjectPart` can still be `5MiB`. In another PR we can set the default to be `64MiB`, but also allow clients to override that value. Also, please use already defined constants for the numbers, `MaximumPartSize` and `MinimumPartSize`

[2020-02-24 20:19] ngbrown commented on #372
Regarding setting the part size to `5GiB`, I used `512 MiB` because parts completing appears to be the only way that there can be any progress reported on server copies.

I realize there's no progress reported in the .NET client right now, but [`IProgress<T>`](https://docs.microsoft.com/en-us/dotnet/api/system.iprogress-1?view=netframework-4.8) is a globally available interface for exactly that so

[2020-02-28 01:41] #304 closed

[2020-02-28 04:13] mirror222 opened #373 "Bandwidth limited"
how to limit the download and upload speed of the minio dotnet client?

thank you.

[2020-03-01 04:45] kannappanr commented on #373
@mirror222 Currently we do not have that support in this SDK. You will have to do this outside.

[2020-03-02 09:42] harshavardhana commented on #373
Use wondershaper tool to limit the bandwidth.

[2020-03-02 09:42] #373 closed

[2020-03-02 14:24] trnktms opened #374 "Not possible to overwrite the default Timeout"
When setting up a `MinioClient` object I did not find the way to overwrite the default `RestClient` or `RestRequest` timeout setting.

[2020-03-03 01:13] ngbrown opened #376 "Split MinioClient implementation to allow access to advanced functions"
I have a need to directly access the multi-part functions, `NewMultipartUploadAsync`, `GetListPartsAsync`, and `CompleteMultipartUploadAsync`.

I can switch to doing these in the AWS .NET SDK, but I would like to improve this client instead.  I would move these private functions into a separate `MinioClientAdvanced` class and make them available on a `client.Advanced` property.

Any thoughts?

[2020-03-03 03:35] harshavardhana commented on #376
This SDK is meant for higher level APIs, for low level APIs fork the project and use it yourself.

It is not part of the design to expose those details.

[2020-03-03 03:35] #376 closed

[2020-03-03 14:26] #374 closed

[2020-03-05 01:17] 18311002500 opened #379 "如何获取未完整上传文件的大小"

[2020-03-05 01:19] 18311002500 opened #380 "如何通过现有api做断点续传？"

[2020-03-05 01:37] #380 closed

[2020-03-05 01:38] #379 closed

[2020-03-05 16:56] ngbrown commented on #376
For reference, it wasn't nearly as invasive as I originally described.

I added an `MinioClientAdvanced` class and have the following functions that pass through to `internal` functions on `MinioClient`.

- `NewMultipartUploadAsync()`
- `PresignedUploadPartAsync()`
- `ListParts()`
- `RemoveUploadAsync()`
- `CompleteMultipartUploadAsync()`

I can now use `MinioClient` on the server-side for web cli

[2020-03-05 17:00] harshavardhana commented on #376
@ngbrown I understand what you are thinking but that is not the intention of this SDK exposing these functionalities requires us to abide by semver API restrictions and we need to make sure we don't break them in future as applications might depend on them.

This is an unnecessary burden for us - if you want to simply have REST calls with signature v4 you don't need this library you can write this

[2020-03-16 07:44] mirror222 commented on #336
It seems that it does work with NET STANDARD 2.0 ？

[2020-03-16 07:56] mirror222 opened #383 "上传大文件是出现异常"
服务器及客户端都是最新版本。

当上传一个10M左右的文件时出现以下错误：
API responded with message=Unsuccessful response from server without XML error: An error occurred while sending the request. The response ended prematurely.

2020/03/16 15:39:48.673|ERROR|   at Minio.MinioClient.ParseError(IRestResponse response) in K:\Getc\3rdDLL\minio-dotnet-master\Minio\MinioClient.cs:line 468
   at Minio.MinioClient.<>c.<.ctor>b__80_0(IRes

[2020-03-16 09:01] #383 closed

[2020-03-23 17:05] SpeedPing commented on #336
The issue might lie inside GetCanonicalRequest. Analyzing the differences in behavior between 106.4.2 and anything above, you may notice how the query parameters aren't part of the the resource uri and instead, are added as parameters with type QueryString/QueryStringWithoutEncode.

If that's all, it would be a rather trivial fix, although you would need to reorder the parameters (partNumber, uplo

[2020-03-25 21:05] nudzo opened #384 "Method not found: 'Void RestSharp.RestRequest.set_XmlSerializer(RestSharp.Serializers.ISerializer)'"
Possible the same issue as #296
Running on the 3.1.3 dotnet core.
[code]

[2020-03-26 00:54] poornas commented on #384
Which version of Restsharp are you using in your dependencies?

[2020-03-26 08:47] nudzo commented on #384
I have no direct RestSharp dependency, just prototyping in F# scripts.
It loads following:
[code]
Thus RestSharp@106.10.1. I hit this for `RemoveAllBucketNotificationsAsync`, some other methods works OK.

[2020-03-26 16:54] poornas commented on #384
@nudzo, the SDK uses Restsharp@"106.3.1" which used IXmlSerializer - is it possible to downgrade to this Restsharp version as a turnaround? The minio-dotnet pkg needs to be updated to the latest Restsharp@106.10.1 - however this in turn breaks the authorization signature sent by the SDK. Will send a fix after resolving the issue.

[2020-03-26 19:54] nudzo commented on #384
@poornas Thanks, `RestSharp@106.3.1` works OK. I don't use RestSharp, it's just 3rd party dependency for me, so I can downgrade. May be think of fixing RestSharp version in minio-dotnet deps, cause it's just like `RestSharp (>= 106.3.1)`, so then latest one was downloaded in my case.

[2020-03-27 01:26] PHWilliams commented on #263
Thanks bro this is really helpful. I've been searching for help on this  ListObjectsAsync method for days now.

[2020-03-30 09:14] SpeedPing commented on #384
@poornas
If this is still relevant: https://github.com/minio/minio-dotnet/issues/336#issuecomment-602731831
This issue is initially provoked by Restsharp's resource path change, which now seems to not include query parameters anymore.

[2020-03-30 14:26] superhare2014 opened #386 "Exception: The request signature we calculated does not match the signature you provided. Check your key and signing method."
The Code :
[code]
In Minio.Examples project will reproduce this issues.

[2020-03-30 14:30] superhare2014 commented on #386
This is client log:

`- - - - - - - - - - BEGIN REQUEST - - - - - - - - - -

GET https://play.min.io/minio-dotnet-example-h6y1h?location HTTP/1.1
Host: play.min.io:443
x-amz-content-sha256: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
x-amz-date: 20200330T142915Z
Authorization: AWS4-HMAC-SHA256 Credential=Q3AM3UQ867SPQQA43P2F/20200330/us-east-1/s3/aws4_request, SignedHeaders=ho

[2020-03-30 14:34] superhare2014 commented on #386
this is client log:
`- - - - - - - - - - BEGIN REQUEST - - - - - - - - - -

PUT https://play.min.io/minio-dotnet-example-ymtxr/minio-dotnet-example-zb1n6 HTTP/1.1
Host: play.min.io:443
Content-Type: application/css
x-amz-meta-mynewkey: my-new-value
x-amz-copy-source: minio-dotnet-example-8kwqc/minio-dotnet-example-zb1n6
x-amz-metadata-directive: REPLACE
x-amz-content-sha256: UNSIGNED-PAYLOAD
x-amz

[2020-03-31 23:38] kannappanr commented on #386
@superhare2014 What version of RestSharp are you using? Also is this the only example that is failing.

[2020-04-04 15:18] ig-sinicyn opened #387 "[Feature request] Ability to configure a retry policy for the client"
Good day here!

We're using the Minio client in our project and everything was fine until we needed to add retries for common failures such as connectivity issues.

Unfortunately, nor the Minio itself nor the RestSharp used by the client do not support ability to setup a retry policy. So, as a temp workaround I've forked the code and added `minioClient.WithRetryPolicy()` method that allows to set

[2020-04-04 16:47] IsaackRasmussen opened #388 "NRE for several operations when not specifying region"
With latest package 3.1.10 and DotNet Core 3.1, I get NRE for several operations when opening a backend without specifying the optional region. This is for example not needed for Backblaze B2.
It seems it will work if I just specify any value for region.

This seems to work without region:
- ListBucketsAsync

These do not work
- BucketExistsAsync
- PutObjectAsync

Also, using .WithSSL doesn't upda

[2020-04-06 05:00] kannappanr commented on #387
cc @poornas

[2020-04-06 08:10] novicov commented on #384
I have the same problem with **StatObjectAsync** method.
`Void ParseError(RestSharp.IRestResponse)`

[2020-04-07 20:42] KimN commented on #313
I think MinioClient uses [RestSharp](https://github.com/restsharp/RestSharp) behind the scenes. RestSharp currently have an open issue that could be related: https://github.com/restsharp/RestSharp/issues/1322?

[2020-04-08 09:49] ig-sinicyn opened #390 "[Bug] BucketNotFound exception thrown on invalid file path"
**Package version:** Minio v3.1.10

**Current behavior:**
[code]
(1) throws BucketNotFoundException. Please note that the error reproduces with any api that calls the ParseError() method.

The reason is [here](https://github.com/minio/minio-dotnet/blob/master/Minio/MinioClient.cs#L438-L441). Values:
[code]

**Expected behavior:** the code should throw ObjectNotFoundException.

As a suggestion:
1.

[2020-04-09 20:35] #390 closed

[2020-04-09 21:09] ig-sinicyn commented on #390
👍
Thanks a lot for the fix:)

[2020-04-13 09:27] ig-sinicyn commented on #387
Up:)

[2020-04-13 16:09] poornas commented on #387
@ig-sinicyn , feel free to send a PR, thanks!

[2020-04-14 05:28] #384 closed

[2020-04-15 00:36] kannappanr commented on #386
fixed by #389

[2020-04-15 00:36] #386 closed

[2020-04-17 14:44] geluk opened #393 "GetRegionFromEndpoint introduces significant delay in requests"
When a request is made to an endpoint with a long enough non-AWS hostname without specifying the region, the regex inside `GetRegionFromEndpoint` can take several seconds to complete. This slows down requests by quite a lot.

This happens because the regex contains two nested quantifiers (`{1,61}` and `*?`), which causes an exponential amount of backtracking on all endpoints that do not match the

[2020-04-17 15:35] kannappanr commented on #393
cc @poornas

[2020-04-17 23:28] poornas commented on #393
@geluk, please feel free to send a PR - region applies only to aws endpoints, so if endpoint contains `amazonaws.com` this method can just return empty string. Other types of s3 endpoints are like [here](https://github.com/minio/minio-go/blob/73284c9cbf05caee67b725c8d0bcb308dec107fc/pkg/s3utils/utils.go#L105)

[2020-04-18 21:24] geluk commented on #393
@poornas thanks! I have created a PR.

[2020-04-19 04:12] #393 closed

[2020-04-21 04:13] Praveenrajmani commented on #336
This issue can be closed @kannappanr

[2020-04-21 09:20] ig-sinicyn opened #395 "[Suggestion] Typed exception for invalid object names"
MinioClient v3.1.11

**Current behavior:**
requests with invalid object names throw InternalClientException, as example
[code]

**Expected behavior:**
Code should throw InvalidObjectNameException.

[2020-04-21 10:15] ig-sinicyn opened #396 "[Suggestion] Fixes for MinioException."
The MinioException has two public properties, `message` and `response`.

I'd suggest to use standard `Exception.Message` property. Client code may log only ex.Message. Having an empty message mages troubleshooting much harder. As it is for now, the `MinioException.Message` is null for some exceptions, BucketNotFoundException as example.

The `response` property should be named in PascalCase co con

[2020-04-22 05:51] kannappanr commented on #395
@ig-sinicyn Please feel free to send a PR

[2020-04-22 05:52] kannappanr commented on #396
@ig-sinicyn Please feel free to send a PR.

[2020-04-22 11:27] Dudod opened #397 "BucketExistsAsync throw exception, if bucket doesn't exist."
I tried to use package 3.1.11 and DotNet Core 3.1.

BucketExistsAsync throw exception Minio.Exceptions.ErrorResponse with message "MinIO API responded with message=The specified bucket does not exist", if bucket doesn't exist.
If bucket exists it returns true.

It works correctly in package 3.0.11

[2020-04-22 12:19] AthilTech commented on #397
i have the same Issue with package 3.1.11 and DotNet Core 2.2.

[2020-04-22 12:49] AthilTech commented on #397
i have found the solution ,is to get the BucketExistsAsync instruction up to the try catch
like this :
 var bucketNameLowerCase = bucketName.ToLower();
            bool found = await minio.BucketExistsAsync(bucketNameLowerCase); //change this line up to Try catch
            try
            {
                // Make a bucket on the server, if not already present.

                if (!found)

[2020-04-22 15:08] ig-sinicyn commented on #396
Done, #398

[2020-04-22 15:08] ig-sinicyn commented on #395
Done, #398

[2020-04-22 15:43] Dudod commented on #397
Yeap) I solved this problem like you) But, I think, it's a bug.

[2020-04-22 17:44] poornas commented on #397
thanks @Dudod and @AthilTech , this bug is being fixed in #392

[2020-04-24 06:06] Maximkaaa commented on #321
@poornas I've faced the same issue, but connecting to a different s3 server. For my work I need to use Yandex S3, which works great with official Java tools and python boto. But MinIO client failes to authenticated with it for this reason. It seems that the server implementation does not expect default :80 port to be present in the host header.

In my case it seems to be a bug in the server implem

[2020-04-24 09:58] Maximkaaa opened #399 "[Regression] ListObjects does not respect recursive=false"
I've faced an issue while updating from Nuget package version 3.1.10 to 3.1.11.

The newer version's method ListObjects always returns results as if recursive flag is set to true. The same code returns different result whenever I change the version of the Nuget package.

I've also checked the current (not published) build, the issue is also there.

[2020-04-25 16:46] kannappanr commented on #399
@Maximkaaa Thanks for filing this issue. We will take a look.

[2020-04-29 11:25] thewilli opened #400 "Double-Encoding of URL parameters leads to invalid results"
When I got no results for `ListObjectsAsync()` invocations with a prefix containing slashes, I took a look at the code of the current release minio-dotnet `v3.1.11` and found the URL query parameters to be provided in an already [encoded form](https://github.com/minio/minio-dotnet/blob/654f1d3/Minio/ApiEndpoints/BucketOperations.cs#L235-L239) to RestSharp.

RestSharp does the encoding [on its own]

[2020-04-29 16:47] #400 closed

[2020-04-29 22:14] #396 closed

[2020-04-30 01:32] yilezhu commented on #397
Can you republish a nuget package? At present, this problem still exists in 3.1.11, unless you download the source code directly and add a reference！Thanks and look forward to~

[2020-04-30 08:07] yilezhu opened #402 "The SetPolicyAsync api is change?"
The api document like
`SetPolicyAsync(string bucketName, string objectPrefix, PolicyType policyType)`
but the latest source code is like this
` public async Task SetPolicyAsync(string bucketName, string policyJson, CancellationToken cancellationToken = default(CancellationToken))`

If I want to set up a permanent access url .How should I set it up？
There are no settings here for `PolicyType.READ_O

[2020-04-30 08:19] poornas commented on #402
See [this](https://github.com/minio/minio-dotnet/blob/87aab4a0796e00a1cc77f8c35b1133999fd020a1/Minio.Examples/Cases/SetBucketPolicy.cs) example - the API changed to require the full policy json, The CN version of the API.md is outdated, we will need to fix that.

[2020-04-30 18:34] poornas commented on #399
@Maximkaaa , this is fixed in master branch. It will be fixed in the next release.

[2020-04-30 18:37] poornas commented on #395
Fixed by #398

[2020-04-30 18:37] #395 closed

[2020-04-30 18:38] poornas commented on #387
Fixed by #392

[2020-04-30 18:38] #387 closed

[2020-04-30 18:49] Maximkaaa commented on #399
Great! Thank you.

[2020-04-30 18:52] poornas commented on #296
this is fixed

[2020-04-30 18:52] #296 closed

[2020-04-30 22:29] #371 closed

[2020-05-01 01:25] #402 closed

[2020-05-04 17:21] poornas commented on #399
version 3.1.12 is released - closing this as fixed.

[2020-05-04 17:21] #399 closed

[2020-05-04 17:22] poornas commented on #397
3.1.12 is released, closing this issue.

[2020-05-04 17:22] #397 closed

[2020-05-04 17:23] poornas commented on #368
Fixed by #369

[2020-05-04 17:23] #368 closed

[2020-05-04 18:05] ngbrown opened #408 "Metadata values in StatObjectAsync are converted to lowercase."
This line was introduced in #356:
https://github.com/minio/minio-dotnet/blob/148406fd0a3918c9ed12c89a8c8f240650801ec7/Minio/ApiEndpoints/ObjectOperations.cs#L843

The metadata values are stored with correct casing in Minio, but the `StatObjectAsync` is converting them to lowercase on retrieval.

Are there real cases where the values would be prefixed with `x-amz-meta-`? I thought this was only for

[2020-05-05 01:50] kannappanr commented on #408
@ngbrown Are you saying that the values are also being lower-cased and not just the headers themselves?

[2020-05-05 03:33] ngbrown commented on #408
@kannappanr Yes, the values are being lowercased, replaced, then assigned to the outgaing `metaData` dictionary.

I have a branch that fixes this, but before submitting a pull request, I wanted to know why `x-amz-meta-` would ever be in the value of a header?

Branch using a Regex expression:
https://github.com/minio/minio-dotnet/compare/master...ngbrown:patch-stat-metadata-value

[2020-05-05 04:29] kannappanr commented on #408
@ngbrown I think the `Header` will have prefix like `X-Amz-Meta..` and that should be the one to be stripped and not the value itself.

[2020-05-05 15:59] ngbrown commented on #408
I understand, but it could also be a breaking change without some care.  To prevent breaking library user expectations, the return `metaData` should have both the original header name and the trimmed header name.  I'll update my branch and make a pull request.

[2020-05-05 16:13] ngbrown commented on #408
I've opened #409 for this.

[2020-05-09 08:26] AlexanderButs opened #410 "How to consume minio cluster."
Hey, guys.

Spent hours to find info about how to consume minio cluster (distributed deployment).
If I have 3 minio nodes which make single cluster, each node has its own endpoint, then how can I consume all three nodes by client library to have loadbalance and fault tolerance architecture? Everything I can feed to client library is one endpoint unfortunately. Did I miss how minio cluster works? U

[2020-05-10 06:42] kannappanr commented on #410
Please feel free to send a PR to handle this scenario.

[2020-05-11 04:22] yilezhu opened #411 "Too many TCP connections established"
When I conduct the concurrent test of Minio, I find that if I upload files concurrently, a lot of TCP connections will be established and will not be released。
My test code is as follows:
`
static void Main(string[] args)
        {

            try
            {
                Run().Wait();
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);

[2020-05-11 05:17] harshavardhana commented on #411
Are you sure you are making sure to close and drain the stream?

I wonder because connection pooling is done externally and we have no control over it.

[2020-05-11 05:19] yilezhu commented on #411
Yes, in fact, I have also tested the upload method through the file path, and the result is the same。
`
var minio = new MinioClient(endpoint, accessKey, secretKey);

                bool found = await minio.BucketExistsAsync(bucketName);
                if (!found)
                {
                    await minio.MakeBucketAsync(bucketName, location);
                }

                Console.Wr

[2020-05-11 05:20] harshavardhana commented on #411
Interesting we shall investigate.. an open TCP Conn is not a problem it just shows connection pooling and keep-alive the question is does it keep growing and ultimately crash the system?

[2020-05-11 05:22] yilezhu commented on #411
At present, I test that the TCP connection is growing all the time. When my local port is occupied, the test program will crash！

[2020-05-11 05:35] yilezhu commented on #411
Just now, I did a single thread test and found that the same problem would occur. I would create a TCP link until the local port was occupied and then the program crashed！
the test code like this
[code]

[2020-05-11 06:17] yilezhu commented on #411
When I use Parallel for testing, ithas also been building TCP links, and will report the following errors
![image](https://user-images.githubusercontent.com/18655233/81529742-17154680-9392-11ea-9990-36b44601adbb.png)
the test code like this
[code]

[2020-05-12 01:34] yilezhu commented on #411
Hi ,I tested the `RestSharp` components separately, and found that the problem of TCP leakage was caused by the HTTP component used. I tried to submit an issue to the official, hoping to solve it!

[2020-05-15 12:29] josetuna opened #413 "ObjectNotFoundException Not Thrown"
Hil All,

I am running a code like this:
[code]

This used to work properly some time ago, nut now with the newer version I'm not getting ObjectNotFoundException on the new version (3.1.12).

Instead I'm getting some XML content on the Stream, such as this:

[code]

¿Is there any workaround for this? Thanks in advance!

EDIT: I have already verified this works properly in version 3.1.11; so this m

[2020-05-15 12:51] chrisbecke opened #414 "WithProxy does not work (as expected)"
## Issue
I am using minio as a service in a docker stack. As such I have an intenal - insecure - uri that other services use to connect to minio. Additionally there is a reverse proxy that routes external requests to minio.

So, I tried the following example:

[code]

But the following gets returned just calling the method:
[code]
## What I expect
I would expect, with the above example, that Minio

[2020-05-15 21:59] kannappanr commented on #413
@josetuna Thanks for reporting this issue. Looks like there has been a regression in the latest version. We will take a look and fix it soon.

[2020-05-16 11:20] Praveenrajmani commented on #413
Can you try this `minio.GetObjectAsync(bucketName, objectName, fileName);` instead of accepting a call back?

And let me know if you see the problem here as well @josetuna

[2020-05-16 18:50] Praveenrajmani commented on #413
I just tested with the master. It worked fine for me.

[code]

And i got

[code]

And the error in the response stream is expected. The server writes the XML error in the response which is been printed here.

[2020-05-18 04:31] kannappanr commented on #414
@chrisbecke Can you please paste the output of `mc admin trace -v` when the `pre-signed url` gets executed?

[2020-05-18 07:01] chrisbecke commented on #414
Here is the trace from minio:

[code]

[2020-05-18 14:07] josetuna commented on #413
Hi Praveenrajmani,
Your sample is not working fine... You see the XML error message, but you are not getting an exception properly.
If so, you would see the string "Object  Exception" in the console.
Basically your code is not getting here:

[code]

My payload is not an XML, but an AVRO file instead. So it is awkward to try to parse as XML to catch errors.

[2020-05-18 15:16] Praveenrajmani commented on #413
@josetuna The exception `Minio.Exceptions.ObjectNotFoundException` is actually being caught. You can see the print message in the output that i have pasted.

The XML is perhaps because of the stream callback that you are passing. `stream` is actually the response stream. The server response will be written to the stream which is correct.

[2020-05-18 16:52] #408 closed

[2020-05-18 18:26] josetuna commented on #413
@Praveenrajmani The exception is caught after the stream is processed (in this case, written to console) which is a concurrency issue.
I thought the exception was never thrown because my program crashed while processing the stream.
So the title instead shold be "ObjectNotFoundException concurrency issue".

[2020-05-18 23:47] #413 closed

[2020-05-26 07:34] mirror222 opened #416 "Get bucket free space API?"
how can i get the free space of a Bucket?

[2020-05-26 07:37] harshavardhana commented on #416
Not an S3 API, this is an S3 SDK

[2020-05-26 07:37] #416 closed

[2020-05-28 23:57] mia01 opened #417 "Does minioclient need to be created every time"
Hello

I have some questions about using MinioClient.
All the examlle show a new instance being created each time. My question is can I use a MinioClient as a Singleton in my .netcore app?

Secondly, does it need to be disposed after it has been used?

Thirdly,  does MinioClient use a HttpClient internally? If so is it protected from the issue mentioned here: https://docs.microsoft.com/en-us/dotne

[2020-05-29 15:42] mia01 opened #418 "ListObjectsAsync giving me inconsistent results"
I'm writing some integration tests to test a service that uploads to a local dockerised minio instance. At one point in my test I am checking if things have been uploaded using ListObjectsAsync like this:

[code]

Occasionally I get an empty objects list and at other times I will get the expected results with "folder/myObject.pdf" listed. Am I doing anything wrong here? Everything is wrapped in a

[2020-05-30 16:27] poornas commented on #417
@mia01, you need to instantiate the client only once. All the examples are meant to be run standalone - hence they instantiate a client before invoking a sample call. MinioClient uses RestSharp internally, which in turn uses HttpWebRequest.

[2020-05-30 16:27] #417 closed

[2020-05-31 15:17] mia01 commented on #418
I converted this to :
[code]
That gives me consistent results every time. I still would like to know why the above didn't work though 🤔

[2020-06-01 19:45] ngbrown opened #419 "Presigned GET when specifying header with multiple spaces in value fails with SignatureDoesNotMatch"
Consider the following new unit test in `OperationsTest.cs`:

[code]

The `Response-Content-Disposition` header intentionally has multiple sequential spaces.

When encoding, the `Signature` parameter is the equal as there is only one space in the header value, and minio accepts the request.  However, in this case, with two sequential spaces, minio rejects the request.

Maybe minio is not normalizi

[2020-06-03 13:38] luaneko opened #420 "Asynchronously processing GetObjectAsync stream"
**Feature request**:

GetObjectAsync takes a synchronous stream processor. It defeats the point of the call being asynchronous, unless I'm misunderstanding something (is the stream buffered in memory already?)

`Task GetObjectAsync(string bucketName, string objectName, Action<Stream> callback, ServerSideEncryption sse = null, CancellationToken cancellationToken = default(CancellationToken))`

It w

[2020-06-03 14:07] kannappanr commented on #419
@ngbrown thanks for reporting the issue. We will check and get back to you

[2020-06-03 17:15] ngbrown commented on #419
The real key is what is the actual S3 behavior in this case, but I don't have an AWS account. If I had an answer, I could either adjust the client or put in a issue to the minio server.

[2020-06-03 18:49] poornas commented on #420
Action<Stream> callback is being written to by the http response writer without any intermediate buffering. Curious about why Action<stream> callback is a bottleneck for your application, it would be reasonable to expect that the stream would be processed right away and hasn't been reported as an issue by other sdk users thus far.

[2020-06-04 19:02] poornas commented on #419
checked s3 behavior, it does honor the multiple spaces in the response-content-disposition. The authorization header generated for presigned url on the dotnet sdk may not be url encoding correctly

[2020-06-04 23:20] ngbrown commented on #419
Something in this function would change if AWS does not need parameter values normalized:

https://github.com/minio/minio-dotnet/blob/b74eb75b6ae50b2e517b45e3245d58e5c996d1c2/Minio/V4Authenticator.cs#L340-L363

Right now `headersToSign` is being treated as if they are actual headers and the consecutive spaces are being shortened to a single space by the `s3utils.TrimAll(cv.Value)`. This is correct

[2020-06-05 02:38] poornas commented on #419
to compute the signature, the request needs to be [canonicalized](https://docs.aws.amazon.com/general/latest/gr/sigv4-create-canonical-request.html) which is why all consecutive spaces are shortened. This [example](https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-examples-using-sdks.html#sig-v4-examples-using-sdk-dotnet) shows the signature calculation

[2020-06-07 15:20] ngbrown commented on #419
@poornas That canonicalization is what the Minio client is doing. The examples are all for header values, not for paramaterized return header values. And the consecutive spaces test I started this thread work fails against the Minio server.

When you tested this against S3, what requests did you send?  Did the presigned request with two consecutive spaces and the single space both have the same si

[2020-06-10 02:00] tky753 opened #421 "support metaData for PresignedPutObjectAsync"
[code]

[2020-06-10 04:24] poornas commented on #421
@tky753 , you should just use PresignedPostPolicyAsync[https://github.com/minio/minio-dotnet/blob/master/Docs/API.md#presignedPostPolicy] which allows you to set metadata

[2020-06-10 04:24] #421 closed

[2020-06-11 00:48] tky753 commented on #421
@poornas  If make  `MinioClient.CreateRequest` method public, it will be much easier

[2020-06-11 09:03] dominicjordan commented on #350
Indeed removing http:// or https:// works for me as well. Thanks!!

[2020-06-22 08:29] damikun commented on #338
Hi im geting now this error any way how to deal wit it ?

![image](https://user-images.githubusercontent.com/54806834/85265842-2bf5f700-b473-11ea-9779-d5cf58db4b35.png)

[2020-06-26 10:47] juanjoDiaz commented on #332
Trying to get this working.

The object that I receive looks like:
[code]

And `JsonSerializer.Deserialize<NotificationEvent>(body);` sets the `Records` array as `null`.

Any advice on how to create the webhook handler without using the Minio-only observable?
Do I need to create my own model? I would expect this client to include a valid one.

[2020-06-28 06:40] yilezhu opened #424 "Is it possible to use IHttpClientFactory instead of RestSharp as an HTTP component?"
Not long ago, I tested and found that there was a problem of TCP leakage。Later, it was found that the problem was with the RestSharp component.See this issue for details https://github.com/minio/minio-dotnet/issues/411 .
https://github.com/restsharp/RestSharp/issues/1406

[2020-06-28 15:19] harshavardhana commented on #424
We can definitely do this a breaking change as we add new APIs // cc @poornas @kannappanr

[2020-06-29 01:46] lhysrc opened #425 "[3.1.13]PresignedPutObjectAsync return url with default port."
The presigned url has a port even endpoint is the default port when upgrade to 3.1.13.
[3.1.13]:
http://oss.example.com:80/bucket/file?...
https://oss.example.com:443/bucket/file?...
[3.1.12]:
http://oss.example.com/bucket/file?...
https://oss.example.com/bucket/file?...

[2020-06-29 11:26] rwecho opened #426 "How to implement break-resume upload?"
Hi,  I migrate project from azure. I can not find a proper method to do break-resume upload.

I found some API  (e.g. GetListPartsAsync) is private. So I don't know how to start.

thanks.

[2020-06-30 11:44] sergei66666 opened #428 "Error when try use minio with yandex s3: The request signature we calculated does not match the signature you provided."
Hello.

At first:
1) minio 3.1.13
2) restsharp 106.11.4
3) Windows 10 x64
4) s3 compatible storage from [yandex](https://cloud.yandex.com/services/storage)

If I use library as is - getting error: The request signature we calculated does not match the signature you provided.

If use WinSCP (it can s3) - all works fine.

After all day of different attempts i found, that if inside V4Authenticator
re

[2020-06-30 11:52] sergei66666 commented on #428
I am sorry, it is Duplicate of #321
With one note: not only 80 port

[2020-06-30 15:23] #425 closed

[2020-07-01 04:50] sergei66666 opened #430 "Enhancement: pass ObjectStat to callback from GetObjectAsync"
Hello again! :)

Inside `GetObjectAsync` happens two actions:
1) calling `StatObjectAsync`
2) request for content.

So, inside `GetObjectAsync` we already have `ObjectStat`. But in callback only stream (`Action<Stream> cb`).

Now, in case when we need some metadata or other stat info we should call `StatObjectAsync` and `GetObjectAsync` - it is give 3 call to server.

If pass `ObjectStat` in callb

[2020-07-01 06:50] sergei66666 opened #431 "Wrong exception when RemoveBucketAsync on inexistent bucket"
Hello once again :)

If call `RemoveBucketAsync ` and pass bucket which doesn't exist I getting `UnexpectedMinioException` instead of `BucketNotFoundException`.

It is happen in MinioClient.cs line 564 (ver 3.1.13)
[code]

On second line in `if` we see comparison with Method.GET, but it is DELETE (first and last conditions good).
Can we replace it with
`&& (response.Request.Method.Equals(Method.GE

[2020-07-01 07:19] kannappanr commented on #430
@sergei66666 Thanks for the suggestion. We have started adding support for versioning in the sdk. Will take a look at this request.

[2020-07-01 08:00] Mattacks opened #433 "Add support for versioning"
AWS S3 [supports versioning](https://docs.aws.amazon.com/AmazonS3/latest/dev/Versioning.html)
MinIO [supports versioning](https://github.com/minio/minio/issues/2111)
The Java client [supports versioning](https://docs.minio.io/docs/java-client-api-reference.html#enableVersioning) (though [GetObject](https://docs.minio.io/docs/java-client-api-reference.html#getObject) appears not to - maybe I misund

[2020-07-01 09:24] kannappanr commented on #433
@Mattacks We will be starting on adding support for Versioning soon. I don't have a timeline yet. Hopefully soon.

[2020-07-01 09:24] #433 closed

[2020-07-01 15:21] #321 closed

[2020-07-01 15:22] #428 closed

[2020-07-01 16:11] #431 closed

[2020-07-01 16:40] sergei66666 opened #435 "Wrong Content-MD5"
Hello)

In `V4Authenticator` in function `SetContentMd5` happen calculation of Content-MD5 header.

There is one case, which we should add before
[code]

It is
[code]
 Without it such methods, for examle batch verion of `RemoveObjectAsync` throw error with message "bad md5".

My fix is bad from performance view (becase there is will be two conversions from XElement to string). To fix it I see only

[2020-07-01 16:42] sergei66666 commented on #435
But.. We can make it other way:

[code]

[2020-07-01 16:44] harshavardhana commented on #435
We are generally happy for a PR @sergei66666 - feel free to send it.

[2020-07-01 16:52] sergei66666 opened #436 "Wrong XML in batch version RemoveObjectAsync"
Hello again)

If we use batch version (after md5 fix) - we get error about wrong xml.

It is because error in Minio\ApiEndpoints\ObjectOperations.cs in `removeObjectsAsync` function.

Now
[code]

But according to amazon doc should:
[code]

ps Line 729 and 731 can be removed - it is not used.

pss Thanks for fast fixes :)

[2020-07-01 19:13] #436 closed

[2020-07-02 02:12] #426 closed

[2020-07-02 02:58] sergei66666 commented on #414
Hello!
I am not sure, but it can be similar to my solved problem #428

Try it after release or download master source and use it.

[2020-07-02 03:00] sergei66666 commented on #435
OK. I just saw a lot of unacceptable requests and did not do them personally. I will do it

[2020-07-02 06:36] chrisbecke commented on #428
Interesting. The issue here seems to be related specifically to the use of port 80, as port 80 is implicit when the scheme is http it is not necessary to always provide it.

The V4Authenticator code builds a canonical hostname using the port always, the code that actually generates the signature would seem to follow a different code path with a less rigorous canonicalisation of provided host name.

[2020-07-02 07:00] sergei66666 commented on #428
On yandex s3 error happen on 80 and 443 port.
I assume, that their nginx configuration doesn't pass port from host header. I wrote them about it, may be they fix it.

[2020-07-02 14:21] sergei66666 opened #440 "Strange line in code (compare bool with null)"
Hello.

Here https://github.com/minio/minio-dotnet/blob/master/Minio/V4Authenticator.cs#L565 is very strange line.

1) `var deleteParm = request.Parameters.Any(p => p.Name.Equals("delete",StringComparison.OrdinalIgnoreCase));`
`deleteParm` is bool

2) `isMultiDeleteRequest = !(deleteParm == null) || (deleteParm.Equals(null));`
here `deleteParm` compared to null.

And it is cause of warning "The re

[2020-07-03 12:40] Alexr03 opened #443 "Backblaze B2 MultipartUpload failure"
Hello!
I seem to be facing the issue where Backblaze B2 will fail when uploading a file using the PutObjectAsync() with a file over 5mb.

**Trace:**
[code]

**Exception:**
[code]

Help is appreciated :)
Thanks

[2020-07-03 16:11] harshavardhana commented on #443
@Alexr03 please provide more detailed error and sample code..

[2020-07-03 18:38] kannappanr commented on #443
the output from backblaze should be
[code]

[2020-07-03 18:40] Alexr03 commented on #443
@harshavardhana The "Complete File Uploader Example" is enough to reproduce this issue providing that the endpoint etc is Backblaze.

[2020-07-03 19:30] kannappanr commented on #443
@Alexr03

If you look at this sample piece of code
[code]
this will work as the XML contains the namespace attribute `xmlns="http://s3.amazonaws.com/doc/2006-03-01/"`

[2020-07-03 19:39] Alexr03 commented on #443
@kannappanr Shall I reach out to Backblaze about this issue? as the response that comes back from Backblaze does not contain the XML namespace.

[2020-07-03 19:46] harshavardhana commented on #443
yes xmlns is a way to provide a guarantee of contract for client unserialize to pick the right XML, it is not possible otherwise if server changes XML fields to look for correct value on the wire.

[2020-07-05 02:09] Alexr03 commented on #443
Update: Backblaze have passed it onto their engineer team.

[2020-07-06 15:10] #440 closed

[2020-07-06 17:11] kannappanr commented on #443
@Alexr03 Closing this issue here. Please feel free to reach out to us if you still see issues once the fix has been made by backblaze

[2020-07-06 17:11] #443 closed

[2020-07-09 20:12] poornas commented on #435
this was fixed by #439

[2020-07-09 20:12] #435 closed

[2020-07-22 06:53] sergei66666 commented on #428
Just to note: yandex team fixed it

[2020-07-22 06:55] sergei66666 commented on #321
@Maximkaaa Just to note: yandex team fixed it, now it works fine.

[2020-07-22 06:58] sergei66666 commented on #410
I'am not good in it. but you can create load balancer. You will have one url of load balancer which you feed to minio-dotnet

[2020-07-27 20:43] colotiline opened #445 "The request signature we calculated does not match the signature you provided. Check your key and signing method."
**Issue**

Can't ListBucketsAsync. Got an error:

But when I use configured `mc ls my-minio` or just use my browser I can get list of buckets.

That's why I think that something is wrong with dotnet-client and not the k8s setup. Am I right?

Also I can get a list of buckets from play.min.io without changing code.

**Environment**

- k8s cluster on bare metal in local network (Unix).

`kubectl vers

[2020-07-27 20:44] colotiline commented on #445
`BucketExistsAsync` returns AccessDenied.

[2020-07-27 21:04] colotiline commented on #445
The problem is gone when I cloned this project and referenced it instead of using the NuGet package.

As I can see, cloned version is 3.1.14 in the master branch, but the latest NuGet is 3.1.13.

Could you provide any estimates for a release date?

[2020-07-27 21:07] harshavardhana commented on #445
Soon @colotiline there no hard estimates

[2020-07-27 21:09] colotiline commented on #445
Ok. I'll build it myself as a workaround. Thanks.

[2020-07-27 21:09] #445 closed

[2020-07-31 10:24] krashby opened #447 "Can't connect to GCS (Google cloud storage) using Minio .NET client"
### Expected Behavior
Should be able to connect via MinioClient to S3-compatible storage GCS and upload/read files from bucket.

### Current Behavior
Any method call from client throws exception with message "MinIO API responded with message=The request signature we calculated does not match the signature you provided. Check your Google secret key and signing method.""

### Possible Solution
I've

[2020-07-31 15:38] harshavardhana commented on #447
MinIO .net is for proper S3 targets - GCS is not a full S3 target please use GCS APIs directly instead.

[2020-07-31 15:43] krashby commented on #447
@harshavardhana thanks for the information.

[2020-08-01 03:39] 5653325 opened #448 "WPF How to get file upload progress"
I want to display the upload progress when uploading files in WPF, how should I achieve this? thx

[2020-08-05 07:23] Maximkaaa commented on #430
I was wondering about an opposite thing. The GetObject request together with StatObject works very slowly. In my setting with local MinIO StatObject request takes around 500ms whereas the getting the object itself takes 50ms. (I have a lot of small files) Is there no way to get object without making additional StatObject request?

[2020-08-05 09:40] mariusingjer commented on #420
If the callback method contains code that would benefit from coroutine support (like async waiting for a call to a database inside the callback).

Less bug prone: if you add async in front of the Action like in the authors example, your compiles won't complain and you can start adding awaits (like he did), but the code invoking the callback (restsharp i guess) will not respect your awaits and you

[2020-08-06 03:49] #448 closed

[2020-08-08 20:55] htabesh opened #450 ".NET Client API & Tags"
Hi. I need to handle minio bucket tags with .NET APIs. is there any solution for that?

[2020-08-08 20:58] kannappanr commented on #450
@htabesh we will be implementing tagging APIs soon in the dotnet SDK.

[2020-08-12 19:01] gnh1201 opened #452 "differently works in `minio-go` and `minio-dotnet`"
I implemented my program with `minio-go` and `minio-dotnet`, and confirmed that it works well with `minio-go`.

But `minio-dotnet` is something weird...

minio-go (it does works):

[code]

minio-dotnet (it does not work - infinitely wait):

[code]

What is difference? I tested this in the same computer.

## Files
- minio-test.go : https://gist.github.com/gnh1201/13db1e02c60b7c984ec4406906b71a48
-

[2020-08-13 13:15] phucduong86 commented on #452
I am experiencing the same issue.
I needed to specify "us-east-1" as region argument to be able to connect to our server. However, now I get access denied even with our admin account trying to get a test file:
[code]

Go client and Javascript client both works fine, only DotNet client failed.

Dotnet:
[code]

Javascript:
[code]

Go

[code]

[2020-08-14 12:22] JonOdgaard commented on #418
I have been struggling with the same issue for at couple of hours
Your work around really saved my day

[2020-08-31 11:29] sergei66666 commented on #447
Hello. I'am not sure, but may be if you download master from github and use it instead of nuget package it is will help you.

[2020-09-02 22:30] t-smirnov commented on #298
Still can repo even with another method, e.g. `ListBucketsAsync()`. So annoying

[2020-09-02 22:46] t-smirnov commented on #298
Just in case, for others who want to use minio - use awss3sdk lib.

[2020-09-03 01:36] poornas commented on #452
@gnh1201 ,ListBucketsAsync is an asynchronous call and cannot be used in a static method (GetMinio in your gist) without await or .Wait. If you remove that call, it will work as expected.

[2020-09-03 01:36] #452 closed

[2020-09-03 08:06] JonOdgaard commented on #388
Also an issue with StatObjectAsync() it seems
If bucket region is not specified, the minio client attempt to fetch the bucket region over http
But since SSL is enabled, server only has https bindings

[2020-09-05 13:10] borgez opened #455 ".net client metaData in PutObjectAsync allow only ascii simbols"
metaData in PutObjectAsync allow only ascii simbols

[code]

[2020-09-05 18:35] harshavardhana commented on #455
This seems to be only implemented recently https://github.com/dotnet/runtime/pull/39468

[2020-09-09 04:26] Rajeshrg55 opened #456 "GetObjectAsync Timeout issue"
I'm using the below code to download the object from minio.

                   MemoryStream memStream = new MemoryStream();
                    string[] filename = URL.Split('/');
                    var _containerName = filename[filename.Length - 2];
                    System.Net.ServicePointManager.SecurityProtocol = System.Net.SecurityProtocolType.Tls |
                   System.Net.SecurityP

[2020-09-10 05:33] poornas commented on #456
For one, you are not awaiting the StatObjectAsync call. Can you share a whittled down sample of your failing project - you can also set minioClient.SetTraceOn() on the client side and if your endpoint is MinIO , then set `mc admin trace -v myminio` to see the requests received by the server and response to isolate the bug in your code.

[2020-09-10 05:46] poornas commented on #456
you may also want to check if you need a ConfigureAwait(false) in your application while waiting on the GetObjectAsync

[2020-09-10 23:22] patilsha commented on #294
@poornas Best answer, Thanks

[2020-09-15 14:52] Rajeshrg55 opened #459 "Issue with PresignedGetObjectAsync"
## Expected Behavior
A valid url should come based on the parameters served for PresignedGetObjectAsync

## Current Behavior
Case1:
        public static string Get(string DocURL)
        {
            string[] filename = DocURL.Split('/');
            var _containerName = filename[filename.Length - 2];
            Task<String> url = minioClient.PresignedGetObjectAsync(_containerName, filename[4],

[2020-09-15 17:04] poornas commented on #459
is the example call [here]( https://github.com/minio/minio-dotnet/blob/master/Minio.Examples/Cases/PresignedGetObject.cs) working for you?

This is an async call, and your application needs to invoke it the correct way with await from an async method or use .Result to block on the task until it returns.

[2020-09-15 17:04] #459 closed

[2020-09-16 07:40] Rajeshrg55 commented on #459
It's working but, file is getting downloaded instead of displaying when I'm parsing the url(which I'm getting in the result) into an I frame. Where as it is displaying with the other storage(Azure) urls.

[2020-09-16 14:26] Rajeshrg55 opened #461 "url issue with PresignedGetObjectAsync"
Expected Behavior
A valid url should come based on the parameters served for PresignedGetObjectAsync

Current Behavior
public static string Get(string DocURL)
{
string[] filename = DocURL.Split('/');
var _containerName = filename[filename.Length - 2];
Task url = minioClient.PresignedGetObjectAsync(_containerName, filename[4], 2000);
return url.Result;
}

The above code is working fine but, file is

[2020-09-16 15:11] poornas commented on #461
Pass the content-type in request parameters for PresignedGetObjectAsync call and see if this helps

[2020-09-17 02:20] azbo opened #462 "Through the intranet IP can upload, through the Internet domain name can not upload"
![image](https://user-images.githubusercontent.com/5110699/93412283-726ebc80-f8cf-11ea-8d1d-3997c46c022a.png)

![image](https://user-images.githubusercontent.com/5110699/93412207-4e12e000-f8cf-11ea-832c-26ec3386f381.png)

[2020-09-17 02:21] azbo commented on #462
The signature method can be uploaded

[2020-09-17 05:48] #462 closed

[2020-09-17 11:48] Rajeshrg55 commented on #461
Thanks,
                var reqParams = new Dictionary<string, string> { { "response-content-type", "application/pdf" } };
Above line of code worked for me.

[2020-09-17 11:48] #461 closed

[2020-09-17 11:48] #456 closed

[2020-09-18 09:38] rriverak opened #463 "CopyObjectAsync Header Encoding not expected"
Hey,
first of all Thank you very much for this great project!

There is a HTTP-Header Encoding problem if i use `CopyObjectAsync` method with `SetReplaceMetadataDirective`.
[code]

I getting a always a HTTP 404 not found Error.

[code]

The Problem is the HTTP Header `x-amz-copy-source` is URL-Encoded in this Case.
If i try the mc tool every thing works fine and expected.

[code]

No encoding can

[2020-09-18 16:49] poornas commented on #463
the copy source has to be url encoded here. I was not able to repro a issue in the CopyObjectAsync API based on the info you posted. Are you able to do a StatObjectAsync() on the same object successfully? 404 indicates the object is not found. Which version of minio server are you using?

There was a recent issue [fixed](https://github.com/minio/minio/issues/10475) on minio server with CopyObject

[2020-09-20 21:00] RozDavid commented on #388
Hey guys, any update how can we enable _https_ without specifying the region parameter?
The `.WithSSL().Build()` functions doesn't seem to be supported by the current version anymore that could force it.

[2020-09-22 13:41] sergeyshaykhullin opened #465 "Asp.Net Core DI integration"
Any plans to support `Microsoft.Extensions.DependencyInjection`?

[2020-09-24 04:08] kannappanr commented on #465
@sergeyshaykhullin We do not have any plans right now.

[2020-09-24 08:49] sergeyshaykhullin commented on #465
@kannappanr I can create draft version
You have no plans because of free time or it is sticking on concrete di container?

[2020-09-25 05:55] DCNick3 commented on #420
I did run into this problem. I want to stream `GetObjectAsync` result into asp.net core http response writer. It is possible to do it synchronously, but it is not recommended (need to enable it explicitly, see dotnet/aspnetcore#7644) and causes server thread pool starvation and server lockups (the server cannot handle other requests while copying data from `GetObjectAsync` to client). I see this a

[2020-09-25 06:34] DCNick3 commented on #420
Other issues regarding side-effects of using sync APIs in kestrel (asp.net core http server): aspnet/KestrelHttpServer#2104, dotnet/aspnetcore#17090

[2020-09-29 14:50] koliyo opened #467 "MakeBucketAsync does not work with region parameter"
I am unable to create a bucket using the .NET client SDK. I get an exception with
[code]

All my code does is
[code]

If I run a local minio server I get the following:
[code]

And if I use admin tracing, I find this:
[code]

If I compare this to my working python client:

[code]

[2020-09-29 15:03] koliyo commented on #467
Update: This seem to be related to setting the `region` parameter.

If I set either `region` in `MinioClient` constructor, or in `MakeBucketAsync`, I will get the wrong sha256 checksum sent to the server.

Only by using the default region values am I able to create a bucket.

[2020-10-04 07:56] sergeyshaykhullin commented on #465
Hmm...

[2020-10-06 18:40] sergeyshaykhullin commented on #465
I created repo and package for Minio integration:
https://github.com/appany/Minio.AspNetCore
https://www.nuget.org/packages/Minio.AspNetCore

Feel free to mention me if you want to migrate it to main repo or to free Minio.AspNetCore package name for your implementation in a future

[2020-10-07 11:53] sristagno opened #469 "Impossible to connect to host with a specific path (sub.domain.com/minio)"
We deployed a minio service that is available in the following address `https://sub.domain.com/minio` and we would be able to access it using the .NET library, but it is only possible to specify a hostname and not an endpoint containing path.

Am I missing something, is there any solution to make this connection?

Thanks

[2020-10-07 13:29] vadmeste commented on #469
This style is not supported in S3 specification. You need another sub-domain, for example: s3.sub.domain.com/

[2020-10-07 13:29] #469 closed

[2020-10-15 01:54] xujiesh0510 commented on #424
HI.  Any progress on this issue？ To be frank, This is not a production-ready  library without solving this issue.

[2020-10-15 02:05] xujiesh0510 commented on #424
@yilezhu  ,   Have you implemented a simple version of minio-dotnet using HttpClientFactory  ?

[2020-10-15 15:55] BigUstad commented on #424
As @harshavardhana remarked. It'd be a breaking change & we'd need to rewrite the APIs. The product development team is looking into it and they will make a decision.

[2020-10-23 00:41] lhysrc commented on #425
When will the new version be published to nuget? 😂

[2020-10-26 10:14] sebastianbk opened #483 "ListObjectArgs does not exist in v3.1.13"
According to the [documentation](https://docs.min.io/docs/dotnet-client-api-reference.html), the `ListObjectsAsync` API should take a `ListObjectArgs` object as its only parameter. However, that is not the case. The signature of `ListObjectsAsync` is:

[code]

I'm interested in making use of the `start_after` parameter, which is available in the [Python SDK](https://docs.min.io/docs/python-client-

[2020-10-26 10:37] sebastianbk commented on #483
I just noticed that the code on GitHub doesn't even align with the documentation. So what's released, what's on GitHub, and what's written in the documentation are three completely different things.

[2020-10-26 22:46] harshavardhana commented on #483
The github branch will move to release to point to latest releases - things available in the master are not released yet.

[2020-10-26 22:46] #483 closed

[2020-10-26 22:53] harshavardhana commented on #483
and the docs is pointing to release branch https://docs.min.io/docs/dotnet-client-api-reference.html#listObjects

[2020-10-27 12:43] cristipufu commented on #420
Same here:
[code]

As a workaround we have to enable AllowSynchronousIO in our web app:
[code]

This limitation comes from the underlying RestSharp client itself, I think it's time to get rid of it and use Microsoft's HttpClient

[2020-10-30 15:16] molekm commented on #418
Same issue, while running Unit tests till fail I maybe will manage 3-4 times.
This issue is ongoing for almost a year for me (Minio on Docker).

[2020-11-13 11:23] Maximkaaa opened #488 "MinioClient.ListObjectsAsync() throws an error when the bucket is empty"
As the title says, simple code:
[code]
always returns false, when the requested bucket does not contain any objects (e.g. new bucket).

The caught exception is:
[code]

[2020-11-16 20:19] BigUstad commented on #488
@Maximkaaa Can you please let us know what version of the code are you using? In both the latest from release branch & from master branch, I'm not seeing this error either on Windows or Mac Operating Systems.

[2020-11-17 06:03] Maximkaaa commented on #488
I am using version 3.1.13 from Nuget on Linux (Mint 19). I also updated Minio to the latest release. But the same issue is exists when running with other S3 implementations (Yandex in my case).

I've created a simple repro: https://github.com/Maximkaaa/minio-dotnet-bug .

[2020-11-18 03:17] BigUstad commented on #488
I've replicated this bug and also debugged it a bit. We'll update you with a solution soon. Thank you for providing us the repro.

[2020-11-19 01:02] BigUstad commented on #488
Having await on a function that is not marked async and returns IObservable may be causing an unintended error. Can you please remove the await keyword for ListObjectsAsync & try.

[2020-12-03 09:45] clickfire-gz opened #497 "Only connect to Minio server with default access_key & secret_key "minioadmin""
I installed a minio server successfully with docker, and logged on the server through the web page.  The problem is, when I run a docker with the custom access_key and secret_key(such as "abced" & "abcde123"),  I can log into the server admin page with these keys,  but the .net sdk(.net standard 2.1) does not,  the message server returned is "the access key ID you provided does not exist in our re

[2020-12-04 09:46] #497 closed

[2020-12-04 09:48] clickfire-gz commented on #497
solved, a low-level mistake of myself.

[2020-12-05 12:46] Alumniminium opened #499 "Multipart Uploads always fail - The specified key does not exist"
Small files work, >5mb fails. I run the binary, not docker and it's behind a nginx reverse proxy. I can upload big files using the web-ui, nginx client body size is uncapped.
the dotnet minio library however always fails if the file is bigger than 5 megs.

minio 3.1.13, net5, linux-x64

[code]
_workItem.TargetFile.LongLength: 5373295 (~5.3mb)
{Configuration.Folder}/{fileName}: is always audio/[GUI

[2020-12-06 20:36] BaptisteMagoni opened #500 "Error methods ListObjectsAsync"
Hello
I encountered a problem using the ListObjectsAsync method.
I want to use this method to retrieve the elements of my bucket and return them to my ASP DOTNET CORE API.
The problem I encounter is that during an API call I have three types of return, either :
-> Return all elements of my bucket
-> Return some elements of my bucket
-> Returns nothing

This normal?
It's possible to solve this prob

[2020-12-09 19:11] oscarpires opened #502 "How to identify a Directory ??"
I would like to know and understand how Minio can identify in S3Objects dir.
I have a project using AWS S3 C# API and I can continue with that, but identify dir/file its very important for me.

thanks any help!

`var items = client.ListObjects("bucket");

foreach (Item item in items)
{
    if (item.IsDir)
    {
       Console.Out.WriteLine("{0}", item.Key);
     }
}`

[2020-12-13 14:39] BaptisteMagoni commented on #500
up

[2020-12-16 16:56] devIlluSioN commented on #500
I have the same problem

[2021-01-11 13:34] BaptisteMagoni commented on #500
Thanks for you reactivity !!

[2021-01-29 23:15] sk0gen opened #515 "Is this client dead?"
Hi.

I wonder if there is still support to .net client or it is just dead?
If so are there any alternatives to MinIO?

[2021-01-29 23:21] harshavardhana commented on #515
@sk0gen it is being rewritten - older releases are still supported so feel free to use the latest SDK

[2021-01-29 23:21] #515 closed

[2021-02-03 09:02] jeroenlandheer commented on #467
I had this issue as well. This only works with the region set to `us-east-1`

[2021-02-23 02:04] mangrer commented on #238
I see the issue was reported closed? Have there been any updates or workaround figured for this issue?

[2021-02-25 09:06] kultie opened #519 "Timeout when using Task.WaitAll"
I am trying to create a sync function for upload a folder to minio bucket, if I'm using Task.WhenAll then everything work fine but if I use Task.WaitAll then after some time the uploading is timed out?.

This not working
[code]

This is working but not sync
[code]

The Log
[code]

How do I tackle this, can anyone help me with this?

[2021-02-26 10:11] lavkeshdwivedi opened #520 "Error getting notification configuration"
Error : System.ObjectDisposedException: 'Cannot access a closed Stream.'
when I try to use the method BucketNotification class's ToXML() method.

[2021-03-14 22:10] papakojo opened #523 "Any chance the records from the event notification can be a class?"
Great work on the library!
I am currently parsing the json from the notification event to determine the object type.
As request, can the records be represent by a class?

[2021-03-27 07:05] FIVIL opened #526 "Is MinioClient thread safe"
Hi, I've seen this question has been asked for java client and go client, however, I couldn't find any conclusive answer about the .NET client so I was wondering is the .NET MinioClient thread-safe?

I am trying to use MinioClient in an asp.net core application and I am creating a singleton service that incorporates a MinioClient object and I keep reusing it, I was wondering whether this is correc

[2021-04-10 01:00] kannappanr commented on #499
@Alumniminium Can you please paste the entire code and your nginx config settings for us to reproduce the issue. Also, are you seeing this issue if the client is talking directly to minio, by skipping nginx?

[2021-04-12 16:08] BigUstad commented on #500
A fix for this issue has been merged to the master branch. It will be available in release branch in a short while.

[2021-04-12 16:08] #500 closed

[2021-04-15 16:13] BigUstad commented on #488
@Maximkaaa A fix for this issue has been merged into the master. Please try with the master branch. The release will be next.

[2021-04-15 16:13] BigUstad commented on #488
Fix 527 merged to master branch.

[2021-04-15 16:13] #488 closed

[2021-04-16 22:34] kannappanr commented on #450
@htabesh tagging support has been merged to master branch.

[2021-04-16 22:34] #450 closed

[2021-04-16 22:50] kannappanr commented on #499
Closing this issue. Will reopen when there is a response from the reporter

[2021-04-16 22:50] #499 closed

[2021-04-16 22:57] kannappanr commented on #447
@krashby Please use GCS using MinIO Gateway

[2021-04-16 22:57] #447 closed

[2021-04-16 23:22] BigUstad commented on #418
Fixed with #524

[2021-04-16 23:22] #418 closed

[2021-04-16 23:25] #336 closed

[2021-04-18 20:27] kannappanr commented on #526
@FIVIL You should be able to use one client for every bucket.

[2021-04-21 19:27] BigUstad commented on #372
PR #530 has the fix to speed up PUT & COPY operations.

[2021-04-21 19:27] #372 closed

[2021-05-01 08:02] PooriaShariatzadeh commented on #202
I do have this problem too. changing .NET Globalization does not work and also changing the internet time and local time of the server didn't work. please help me to resolve this problem its take my time for too long.

[2021-05-01 12:08] PooriaShariatzadeh commented on #202
finally, I added the code below before starting a new client and my problem is go away
`           var current = new CultureInfo("fa-IR");
            current.DateTimeFormat = new DateTimeFormatInfo();
            current.DateTimeFormat.Calendar = new GregorianCalendar();
            Thread.CurrentThread.CurrentCulture = current;`

[2021-05-19 00:18] BigUstad commented on #430
Implemented in master branch. Will be available in release soon.

[2021-05-19 00:18] #430 closed

[2021-05-19 21:16] kannappanr commented on #502
@oscarpires if you look at https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjects.html
The prefixes that are under commonprefixes are considered a directory. Usually, this is filled only when a delimiter is passed.
Closing this issue as answered. Please feel free to reach out to us if you have any further questions.

[2021-05-19 21:16] #502 closed

[2021-05-20 23:37] kannappanr commented on #410
PTAL https://github.com/minio/sidekick This can be used on the client side

[2021-05-20 23:37] #410 closed

[2021-05-21 12:23] bencyoung-Fignum opened #544 "Use with Amazon SDK"
Sorry if there's not a better place for this!

I'm attempting to follow https://docs.min.io/docs/how-to-use-aws-sdk-for-net-with-minio-server.html but it doesn't appear to work. Setting the ServiceURL clears the RegionEndpoint and vis-versa.

Looking at https://github.com/aws/aws-sdk-net/blob/475822dec5e87954b7a47ac65995714ae1f1b115/sdk/src/Core/Amazon.Runtime/ClientConfig.cs#L176 it looks like it

[2021-05-25 00:55] ebozduman commented on #467
@koliyo, @jeroenlandheer,

I tried but could not reproduce the issue.
We need more info on how to reproduce it if it is still there.

Please let us know if it is repeatable in your environment.
If so, please give us more detailed info on the reproduction steps.
`mc` and `MinIO` versions you are running with, type of minio server (standalone, erasure-coded, distributed), the exact commands you ran

[2021-07-13 07:46] redochenzhen opened #553 "A user with right customized canned policy can not upload/PutObject (Access Denied)."
I created a user with a cusotomized canned policy, and I can use this user to login minio portal to upload images. But I got an exception "Minio.Exceptions.UnexpectedMinioException: MinIO API responded with message=Access Denied." when I try to upload image through .net clinet api.
my policy setting:

    "Version": "2012-10-17",
    "Statement": [
        {
            "Action": [